[2017-05-15 13:22] vre142 opened #1 "Click event on showcase"
Hi,
I have one question How can i check event click for example when showcase show first tab item after user click on it I want to show next tab item as show case. How can I do this?
Another question is how can I change default background color of circle?

Thanks,
vafa

[2017-05-16 00:12] quangctkm9207 commented on #1
Hi,

Thank you for your feedback.
I am working on chaining feature. Currently, you can do it manually by calling two showcases inside each tab item listener method.  For example.
[code]
Default background color of circle is white as default. I would like to put this property as public.
I will ping in this thread when new update comes.

[2017-06-22 13:06] riserpete opened #2 "Multiline text goes out of screen"
Hey,

great library! :)

I am having troubles with the secondaryText (primaryText might be affected is well). If the string is too long, the text goes off screen instead of line-breaking to a second line.

Cheers

[2017-07-04 20:33] alihasanzaade commented on #1
+1

[2017-07-11 00:20] joshoconnor89 commented on #2
my pull request fixes this too.  All you have to do is add \n when you want the line break:

showCase.secondaryText = "Click here to open the left menu where \nyou can change user, team, and \nsettings."

[2017-07-11 00:23] joshoconnor89 commented on #1
I added a pull request to easily do this:  https://github.com/aromajoin/material-showcase-ios/pulls

I added a delegate method so the user knows when the showcase is being dismissed.  All you have to do is update the docs so when you create the showcase its:

`let showcase = MaterialShowcase(delegate: self)`
and the delegate method:

`extension MyClass:  MaterialShowcaseDelegate {
     func showCa

[2017-07-11 01:50] quangctkm9207 commented on #1
@joshoconnor89 :
Thank you for spending time on this issue.
Personally, I think that it is convenient to set up `delegate` in method instead directly in `constructor`. For example.
[code]

[2017-07-11 01:54] quangctkm9207 commented on #2
@riserpete : Thank you for checking it out.
Please excuse the delay in my response.  Please check @joshoconnor89 new update.

[2017-07-11 02:09] quangctkm9207 commented on #1
Also, it still does not address the issue completely. The main point is that we need to trigger `view click` under `showcase click` and notify when it's done.

[2017-07-11 02:52] #2 closed

[2017-07-11 04:05] joshoconnor89 commented on #1
When I ran:
[code]

It printed "Test" in my console immediately when showcase was shown.  When I do:

[code]
it shows both showcases at the same time.  So the completion handler has something wrong with it.  In my example, when showCaseWillDismiss() is called via the delegate, I create another showCase and present it with a .3 second delay, and able to go from one button to the next immediately af

[2017-07-11 08:09] pbenkoe commented on #2
Thank you for the response! :)

Since apps might be localized in many languages, one can't fill in the necessary \n cases everywhere and also the strings wouldn't become reusable. Maybe this should be handled by the system? i.e. numberOfLines of UILabel set to 0 and give it a frame / work with AutoLayout..?

Best

[2017-07-11 09:36] quangctkm9207 commented on #2
The reason is that I calculate text frame size by mistake. I have fixed it with the newest commit and push patch version on CocoaPods.

[2017-07-12 06:52] quangctkm9207 commented on #1
Exactly as you said, I made a mistake.
Yes.  `completion` in `material.show()` handles the action right after the `showcase view` is shown, not when it is dismissed.
I check it one more time and maybe set `delegate` up.
Just considering the way to make codes concise.

[2017-07-12 11:23] Prasanta022 opened #4 "Custom font and text truncation"
Hi,

I can't able to set the custom font in primary and secondary text.
Also the text is not truncate to second line.

[2017-07-12 11:24] Prasanta022 opened #5 "Custom target view"
Hi,

If my target view inside the custom view which is added in the UIViewController's view then it's target view drawn outside the custom view. It's working fine in case of navigation item.

[2017-07-18 12:35] GaneshKumarGk opened #6 "Autolayout to UIButton not focus properly"
**Issues :**

When I set an auto layout to UIButton, the background image of the UIButton will be displayed on the top left corner of the screen instead of that correct original position.

Please give me suggestion for that

[2017-07-20 02:40] quangctkm9207 commented on #5
Hi @Prasanta022 ,
Please excuse me for replying late.
Can you post the screenshot along? it is helpful to detect bugs visually.

[2017-07-20 02:41] quangctkm9207 commented on #6
Hi @GaneshKumarGk,
Please give the screenshot. It's useful to detect UI issue. Thanks.

[2017-07-26 10:05] calvinsug commented on #5
here's the screenshoot for UI bug for Action 1 in your sample app
[http://res.cloudinary.com/duv544lom/image/upload/v1501063393/Screen_Shot_2017-07-26_at_4.57.18_PM_wlua4e.png](UIButton bug when i set width or height constraint)

[http://res.cloudinary.com/duv544lom/image/upload/v1501063392/Screen_Shot_2017-07-26_at_4.59.46_PM_ev8wre.png](it works if i remove width or height constraint)

it happen

[2017-07-26 10:07] calvinsug commented on #6
here's the screenshoot for UI bug for Action 1 in your sample app

[UIButton bug when i set width or height constraint, copied UIButton will be displayed on the top left corner of the screen instead of that correct original position](http://res.cloudinary.com/duv544lom/image/upload/v1501063393/Screen_Shot_2017-07-26_at_4.57.18_PM_wlua4e.png)

[it works if i remove width or height constraint](http:

[2017-07-26 10:50] florianhidayat commented on #6
I managed to fix the bug myself
@quangctkm9207 I've created a pull request for ya
#8

[2017-07-26 13:27] quangctkm9207 commented on #6
@florianhidayat , thank you for your time.
Merged already👍
@calvinsug , @GaneshKumarGk Please check the new source code and feel free to open this thread if it is not solved completely.

[2017-07-26 13:27] #6 closed

[2017-07-27 16:42] petemillermultimedia commented on #1
A delegate method was committed in #9ea5aa6 then removed in #9c887be. Why was it removed? I need this capability.

[2017-07-28 01:06] quangctkm9207 commented on #1
@joshoconnor89 : I have just re-added your delegate solution with slight modifications (optional and support two event callbacks).
@petemillermultimedia : Please check new commit([#11096](https://github.com/aromajoin/material-showcase-ios/commit/11c969946306c35025b52eef952bcd385553aefd)) with delegate supported.
Besides, the latest version (0.1.4) is also published on CocoaPods, and check out [REA

[2017-07-28 01:06] #1 closed

[2017-07-28 17:11] petemillermultimedia opened #9 "barButtonItems must be customView?"
setTargetView(barButtonItem: barItem) does not work if the barButtonItem is created with an image or text. There is no "view" attribute to attach as a target.

[2017-07-28 17:46] petemillermultimedia opened #10 "Buttons with non-transparent images are painted"
When I use a non-transparent icon as a button image, the button is displayed as painted with the tintColor. Could the .withRenderingMode(.alwaysTemplate) be an option?

[2017-08-08 07:55] bratto opened #11 "SecondaryLabel.frame on ipad"
Hi, you have a little bug. Please check place where you calculate frame for secondaryLabel on iPad.
In this place you set radius
`        if UIDevice.current.userInterfaceIdiom == .pad {
            radius = 300.0
        } else {
            radius = containerView.frame.width
        }`
and i think you forgot about it there:

`secondaryLabel.frame = CGRect(x: xPosition,

[2017-09-28 02:17] MaurixFx commented on #10
Same Problem :(

[2017-10-15 07:55] SalvatoreAD opened #13 "ios 11 Problem"
I have crash problem in

`/ MARK: - UIView extension utility
extension UIView{

    // Create a view's copy
    func copyView() -> AnyObject{
        return NSKeyedUnarchiver.unarchiveObject(with: NSKeyedArchiver.archivedData(withRootObject: self))! as AnyObject
    }

    // Transform a view's shape into circle
    func asCircle(){
        self.layer.cornerRadius = self.frame.width / 2;
        s

[2017-10-24 17:12] xradeon commented on #13
Yup, sample crash on there...

[2017-10-25 02:05] quangctkm9207 commented on #13
Thanks for reporting.
I'm gonna take a look at this issue.

[2017-10-25 03:00] quangctkm9207 commented on #13
Did you experience this bug with all of target views or a specific view?
I found that it happened with `UIBarButtonItem` only.
So, it may not crash in `UIView.copyView()`.

[2017-10-25 03:02] quangctkm9207 commented on #9
I have just checked this issue. It happens on iOS 11.
is it the same in your case?

[2017-10-26 08:26] Lokerfy commented on #13
Use

    targetCopyView = targetView.snapshotView(afterScreenUpdates: true);

[2017-10-28 18:24] #13 closed

[2017-10-28 18:26] #5 closed

[2017-10-28 18:27] #9 closed

[2017-10-28 18:39] quangctkm9207 commented on #4
#15

[2017-10-28 18:42] quangctkm9207 commented on #4
Done by #15

[2017-10-28 18:42] #4 closed

[2017-10-28 18:45] quangctkm9207 commented on #10
Please check out version 0.2.0.
If you still get this issue. Feel fee to open it again.

[2017-10-28 18:45] #10 closed

[2017-10-28 18:46] quangctkm9207 commented on #11
Please checkout verion 0.2.0.
If you still get this issue, feel free to open it again.

[2017-10-28 18:46] #11 closed

[2017-11-02 22:11] osama-taha opened #16 "crash: 0 MaterialShowcase 0x10405e0 _T016MaterialShowcaseAAC14layoutSubviewsyyF + 6752"
A crash:

library version:0.1.4
iOS 9.3.5

logs:

Crashed: com.apple.main-thread
0  MaterialShowcase               0x10405e0 _T016MaterialShowcaseAAC14layoutSubviewsyyF + 6752
1  MaterialShowcase               0x103ebfc _T016MaterialShowcaseAAC14layoutSubviewsyyF + 124
2  MaterialShowcase               0x104084c _T016MaterialShowcaseAAC14layoutSubviewsyyFTo + 28
3  UIKit                          0

[2017-11-03 15:09] Ketsuko opened #17 "Image button as target"
Hey everyone,
I'm trying to use the material showcase library with an image button as the target.
However, when my app starts, the button is replaced with a plain color blue version of it, hiding all the details of the image... I tried to change the color parameters to clear or even comment some of them, but it didn't fix it. The image is still replaced by a plain color version of itself...
Is it

[2017-11-05 11:52] quangctkm9207 commented on #17
Hi,
Can you give me a screenshot?

[2017-11-10 16:45] rebe1one commented on #17
@Ketsuko This happens because if you target an image and set the tint colour, it will change all non-transparent pixels to that tint colour. This is expected behaviour in the latest released version, but if you work off the latest master, there is a shouldSetTintColor flag you can set to false and it should resolve your issue.

[2017-11-11 05:14] quangctkm9207 commented on #17
@rebe1one : I really appreciated your time. It works well.
@Ketsuko: New version 0.3.0 is now available on [CocoaPod](https://cocoapods.org/pods/MaterialShowcase).
I updated the sample app with image button too, you might check it out.
#0fd3cea

[2017-11-11 05:14] #17 closed

[2017-11-11 11:25] quangctkm9207 commented on #16
Please check out the latest version. And feel free to open this issue if it still happens.

[2017-11-16 13:29] vinayakpal opened #19 "Can we use this library in Objective C based project?"
HI, i've a project in which i want to introduce show case but as in introduction it shows that we need to have code on swift. So how can i implement this library in my objective c project. Thanks in advance

[2017-11-17 09:23] quangctkm9207 commented on #19
Hi @vinayakpal
I have not tried with Objective C project yet.
You firstly can try to use it via CocoaPods and it might work.
Other way is just to fork the repo, put the library source codes in your project, make a bridge to use with Objective C. You can check [Apple guidance](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html#//apple_ref/d

[2017-11-19 13:22] osama-taha commented on #16
@quangctkm9207
please reopen, it's still happening on iOS 9.3.5
App crashed when the layoutSubviews() method get called

on:
let center = calculateCenter(at: targetView, to: containerView)
Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)

[2017-11-19 13:23] osama-taha commented on #19
I am using this library in our objective-c projects,
it works fine

[2017-11-20 12:16] bokhary3 commented on #16
@osama-taha if you run on Xcode 9 try to call code of creating MaterialShowcase object in viewDidAppear() method

[2017-11-20 16:38] rebe1one commented on #16
I believe that crash is saying that either targetView or containerView is nil. Most likely the targetView is nil. In which part of the lifecycle are you trying to initialize and show the object?

[2017-11-21 04:11] ryanbliss opened #22 "showcase.setTargetView(tabBar: ...) not working correctly"
Trying to get the tutorial to load the tabBar, but for whatever reason it isn't working. Any ideas?

![screen shot 2017-11-20 at 9 09 48 pm](https://user-images.githubusercontent.com/11748606/33054561-32cfb5d6-ce37-11e7-8428-a88776482a45.png)

func showShowcase() {
        let showcase = MaterialShowcase()
        showcase.setTargetView(tabBar: self.tabBarController!.tabBar, itemIndex: 1) // alway

[2017-11-21 08:43] quangctkm9207 commented on #16
Currently, I have no iOS 9 device for testing.
@osama-taha : You can fork this project, test it out. a bug-fix PR is really appreciated.

[2017-11-21 09:00] quangctkm9207 commented on #22
I have never experienced this.
Can I take a look at your TabBarItem view without showcase popup?
Besides, please update with the latest version which has just been released on CocoaPods.

[2017-11-21 15:54] ryanbliss commented on #22
I'm on 0.3.1, which I believe is the latest version. My tab bar is a bit different though, and I wonder if that has something to do with it? Here is a screenshot.

<img width="442" alt="screen shot 2017-11-21 at 8 46 48 am" src="https://user-images.githubusercontent.com/11748606/33082242-84e57bdc-ce99-11e7-8539-9f2db6d1388f.png">

[2017-11-21 22:03] rebe1one commented on #22
Could you elaborate how your tab bar is different? Looks like a regular tab bar to me. Also, where are you calling the show() method? The only thing I can think if is show() being called at a point in the lifecycle before the tab bar has laid out properly. Generally you'd want to do it in your view controller's viewDidAppear.

What would help even more is if you could create a simple new project w

[2017-11-22 00:36] quangctkm9207 commented on #22
@ryanbliss : Yes. The latest version is 0.3.1 and your TabBar is regular.
The issue as @rebe1one pointed out is that show() is placed in your viewDidLoad() or viewWillAppear() method. The TabBar position is not measured correctly at that moment.

It is expected to display showcase view when target view is placed properly, for example inside viewDidAppear() or the moment after that.

[2017-11-22 03:24] ryanbliss commented on #22
Ah okay, that makes sense! Got it working, thanks y'all.

[2017-11-22 03:24] #22 closed

[2017-11-24 15:53] prscX opened #23 "Is the library published on cocoapods?"
Hi,

When I am trying to install this library using pod install it is giving me below error:

[code]

I did a search on [cocoapods](https://cocoapods.org/?q=MaterialShowcase), it is not showing any results

Am I missing anything? Can you please guide me on how to install the library

Thanks,
Pranav

[2017-11-25 02:53] quangctkm9207 commented on #23
It is here on CocoaPod: https://cocoapods.org/pods/MaterialShowcase

[2017-11-25 03:25] prscX commented on #23
Thanks @quangctkm9207 for the response

Any idea why I am not able to install the dependency?

For the reference my iOS project is Objective-C

Thanks,
Pranav

[2017-11-25 05:43] prscX commented on #23
Hi @quangctkm9207

Based on google search, I followed below setups post that it is working:

[code]

Hence closing the issue. Thanks for the response

Thanks,
Pranav

[2017-11-25 07:52] quangctkm9207 commented on #19
Great. Thanks for confirming.

[2017-11-25 07:52] #19 closed

[2017-11-25 11:33] prscX commented on #23
Hi @quangctkm9207

I am creating a [ReactNative](https://github.com/facebook/react-native) bridge library for [aromajoin/material-showcase-ios](https://github.com/aromajoin/material-showcase-ios)

I have installed this library using pod, but then I am linking bridge library with example application, I am getting below error

<img width="723" alt="screen shot 2017-11-25 at 4 56 03 pm" src="https://

[2017-11-26 10:06] quangctkm9207 commented on #23
Thank you @prscX for creating a bridge library. It is a great.
For using in Objective C project, I have not done yet by myself but getting it confirmed in #19 .
You might take a look at this. Hope it helps.

[2017-11-26 14:22] prscX commented on #23
Thanks @quangctkm9207 for the reference

It's been a day now hanging around with this issue. For time being, I will be copying entire library into my project and will be going ahead with the bridge implementation and later will replace the same using pod

Once I am done with the implementation, I will raise PR for the library reference

Thanks
Pranav

[2017-11-26 14:23] #23 closed

[2017-11-30 07:22] vinayakpal commented on #19
@osama-taha can you drop a code snippet here so it can easy for me to import this library in my objective c project

[2017-12-05 08:49] GokmenAkar opened #26 "I can't build second time"
I need to clean build for succeed build. But after that i take this error

fatal error: lipo: can't open input file: /Users/gokmen/Library/Developer/Xcode/DerivedData/DeMarke-foivturhjbqmezgplcmvaycxgbrx/Build/Products/Debug-iphoneos/DeMarke.app/Frameworks/MaterialShowcase.framework/MaterialShowcase (No such file or directory)
Merging extracted architectures: arm64
fatal error: lipo: can't open in

[2017-12-06 08:00] quangctkm9207 commented on #26
Hi,
Do you add the library into your project by `CocoaPod`?

[2017-12-28 16:39] iSofTom opened #27 "instructions frame on iPad"
Hi,
Thanks for your cool component,
but there is a bug on iPad: the instructions labels (both primary and secondary) are drawn out of the circle.

[2017-12-30 03:06] prscX commented on #27
Thanks @iSofTom for reporting the issue. Is it possible to share the screenshot of issue, if not can you please share the content length for both primary and secondary

Thanks
Pranav

[2018-01-11 14:55] rebe1one commented on #27
Currently there are some big bugs on iPad, I've been meaning to fix some of them but haven't had time. You can always try to fix it yourself and send a PR if you need it soon!

[2018-01-12 16:40] mal3k opened #28 "Move the instructionView frame (y position)"
Hi,

Is there a way to move the Y position of the instructionView?  Now it's fixed whatever the targetHolderRadius is. Which is not practical since the holder circle can overlap the text when its radius is big.

Thanks

[2018-01-17 00:03] quangctkm9207 commented on #28
Hi,
instructionView's position is currently calculated automatically based on targetView position.
If we want to change it explicitly, we need to change our design to expose new APIs.
But as I think, if it is displayed incorrectly when targetHolderRadius is large, we should fix the issue instead of exposing an API in which users have to fix by themselves.
Can you give me an screenshot and detail w

[2018-01-17 00:05] quangctkm9207 commented on #27
I will check it out on iPad. If you have any update, please let us know.

[2018-01-29 07:22] deadpool9987 opened #29 "getting white view when setting target to a button which is assigned image fromn storyboard."

[2018-01-30 00:24] quangctkm9207 commented on #29
Where did you initialize MaterialShowcase? It should be put in onViewWillAppear(), but not onViewDidLoad().

[2018-01-30 00:33] quangctkm9207 opened #31 "Documentation about calling MaterialShowcase `show()` function?"
There are many issues related to calling `show()` function in ViewController `viewDidLoad()` where ui components are not fully placed and shown correctly.

[2018-02-01 21:06] farshadtx opened #32 "Support Carthage"
Is there any plan to add Carthage support?

[2018-02-02 00:42] quangctkm9207 commented on #32
Yeah, it is better to have Carthage support too.
Would you like to make a PR for it?

[2018-02-05 16:17] GeekerX opened #33 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value at: let center = calculateCenter(at: targetView, to: containerView)"
Hey I have a while implementing this pod, and recently this problem starts to show up.
First I think that was a problem of mine, that maybe I delete my variable or image where was attached, at end few times works and rest no.

Always launching an error (Fatal error: Unexpectedly found nil while unwrapping an Optional value) in:
[code]

[2018-02-05 22:31] quangctkm9207 commented on #33
Hi, where did you call `showcase()` function?
It should be called in `viewWillAppear` or `viewDidAppear` but not `viewDidLoad`.

[2018-02-05 22:40] GeekerX commented on #33
Yes, I´m calling it in viewWillAppear

[2018-02-05 22:44] quangctkm9207 commented on #31
#463a38c

[2018-02-05 22:45] quangctkm9207 commented on #31
#463a38c0495356f0665af6dc4cab69d54a0d71c2

[2018-02-05 22:50] #31 closed

[2018-02-05 22:50] quangctkm9207 commented on #29
#22

[2018-02-05 22:51] #29 closed

[2018-02-05 22:52] #26 closed

[2018-02-05 22:54] quangctkm9207 commented on #33
Can you try it inside `viewDidAppear` ?
If it still crashes, give me a log please.

[2018-02-06 22:32] farshadtx commented on #32
@quangctkm9207 I will look into it later this weekend.

[2018-02-12 17:36] golenkovkostya commented on #33
Hi!
I have same problem. I set target view for bar button item.
Crash happens because target view == nil

[2018-02-12 17:49] golenkovkostya commented on #33
Here is work around for now
[code]

[2018-02-12 18:18] golenkovkostya opened #34 "How can i detect when user tapped right to targetView?"
How can i detect when user tapped right to targetView? Just for now, i can handle only when showcase view will or did close by tapping anywhere. It's bad practice, because we  force user to do second tap to same place.

[2018-02-13 00:42] GeekerX commented on #33
@quangctkm9207
I just try it in the `viewDidAppear` and still crashing.
The Log just say this

And the breakpoint indicates the line 241 in `MaterialShowcase.swift`
` let center = calculateCenter(at: targetView, to: containerView)`

[2018-02-15 01:44] quangctkm9207 commented on #33
It seems that `targetView` is not laid down correctly yet.

[2018-02-15 01:45] quangctkm9207 commented on #32
Thanks @farshadtx .

[2018-02-15 01:47] quangctkm9207 commented on #34
Please set this one.
`showcase.isTapRecognizerForTagretView = true`
It will dismiss only when users tap `targetView` correctly.

[2018-02-27 08:44] nadia-am opened #35 "showcase can not find JJFloatingActionButton as a target"
i am using JJFloatingActionButton library for my button and i want to set this button as a target of showcase but after running my app showcase target is somewhere else.
 this my code

defining button:
actionButton = JJFloatingActionButton()
view.addSubview(actionButton)
        actionButton.translatesAutoresizingMaskIntoConstraints = false
        actionButton.trailingAnchor.constraint(equalTo: v

[2018-02-27 09:27] roycable opened #36 "Property `targetHolderRadius` not found"
Strangely, I can't seem to set the `targetHolderRadius` value - tells me the property is not found.

`targetTintColor` and `targetHolderColor` isn't a problem, but just can't seem to see `targetHolderRadius`.

Objective C project, and installed material-showcase-ios via cocoapods.

I'll keep seeing what I can find, but pretty odd.

[2018-02-27 18:40] GeekerX commented on #33
I found the problem and was a misunderstanding of what function was initializing the variables with `MaterialShowcase()`.

So my apologies for the misunderstanding.

[2018-02-27 18:40] #33 closed

[2018-02-27 23:45] quangctkm9207 commented on #36
It's strange. `targetHolderRadius` is defined here.
https://github.com/aromajoin/material-showcase-ios/blob/696d3679a9d7eee2f57af74ccce8bee51f05b8d7/MaterialShowcase/MaterialShowcase.swift#L62

[2018-02-27 23:52] quangctkm9207 commented on #35
It seems that `showcase.show()` function is called when your floating  button is not laid out correctly yet.
Where did you call `showcase.show()`? It should be inside `viewWillAppear()` or `viewDidAppear()`.

[2018-02-27 23:56] roycable commented on #36
Yeah, I couldn't see anything strange with it.

To add to the mystery, I have the same issue with the following...

[code]

NB: my temporary solution to having the holder radius 0.0 was to set
[code]

[2018-02-27 23:58] #34 closed

[2018-03-01 23:39] quangctkm9207 commented on #36
I have not checked it in Objective-C, the problem maybe occurred when bridging API from Swift to Objective-C.

[2018-03-13 08:51] congnguyen91 commented on #36
@quangctkm9207 Some class in switf. It should have default value :)
[code]
![screen shot 2018-03-13 at 15 49 14](https://user-images.githubusercontent.com/18322684/37331348-46a6ff72-26d6-11e8-97ee-f33293461296.png)
![screen shot 2018-03-13 at 15 51 21](https://user-images.githubusercontent.com/18322684/37331398-65d58ef4-26d6-11e8-86da-ce899ba332f7.png)

[2018-03-13 17:03] Husseinhj commented on #35
Hi @nadia-am.
If using `showcase.show()` in 'viewDidLoad()' the library can't findout position of button. use that in `viewWillAppear()` or  `viewDidAppear `

[2018-03-13 23:54] quangctkm9207 commented on #36
@congnguyen91 Thank you for pointing it out.
The latest PR from @Husseinhj Hu has fixed it.
I will pump it to a new patch version on CocoaPods right now.

[2018-03-14 00:40] quangctkm9207 commented on #36
Version 0.5.1 has just come out with this issue fix. Please check it on [CocoaPods](https://cocoapods.org/pods/MaterialShowcase).
I would like to close this issue. Have any issue? Reopening is always OK. :)

[2018-03-14 00:40] #36 closed

[2018-03-14 00:42] quangctkm9207 commented on #27
This should be closed due to the latest update. Feel free to reopen if there is other issue rising.

[2018-03-14 00:42] #27 closed

[2018-03-27 02:27] congnguyen91 opened #44 "[Request][Feature] Add GOT IT/SKIP button for skipping sequences"
Hi @quangctkm9207,
This lib will be better if the sequence case has skip button/text with style define like setDismissText, setDismiss Button radius,...

=> In case user can break/skip tutorial sequences :)

Thanks,
Cong

[2018-03-27 04:40] congnguyen91 commented on #44
Hey @prscX,
I also update again for commit tag of iOS pod.
0.51 tag => still haven't included my @objc flag on swift
Let write it on read me :)

[2018-03-28 05:15] quangctkm9207 commented on #44
Hi @congnguyen91 ,
Because this library follows [Google's material design guideline](https://material.io/guidelines/growth-communications/feature-discovery.html), so inserting `skip` UI component may break its design.

It might still work if we find a good place to have a button/text like that in general design.

[2018-03-28 08:13] congnguyen91 commented on #44
Hi @quangctkm9207
Take a look about it :)  - You can see "GOT IT" label
https://github.com/deano2390/MaterialShowcaseView

[2018-03-28 09:29] congnguyen91 commented on #44
@quangctkm9207  Let me try to make a pull request :) & check it on react-native
I need this in https://github.com/prscX/react-native-app-tour.

[2018-03-28 23:37] quangctkm9207 commented on #44
It seems that the example project mentioned does not follow the guideline and has a different style.
But let's try it to see if it fits or not.

[2018-03-30 06:53] happiehappie commented on #28
![simulator screen shot - iphone se - 2018-03-30 at 14 47 38](https://user-images.githubusercontent.com/6497131/38127733-098c53a6-342a-11e8-998f-da36972706ba.png)

Targetholderradius = view.frame.width / 2 + 8, it clearly overlaps the instruction view

[2018-04-01 02:01] #28 closed

[2018-04-17 03:43] SheikhZayed opened #48 "swift 2.3 support"
i have a legacy project in swift 2.3,how do i make this compatible with it?

[2018-04-17 04:10] quangctkm9207 commented on #48
@SheikhZayed
I am sorry but there is only way that updates your project to Swift 3.0 and above.

[2018-04-17 04:12] #35 closed

[2018-04-17 04:13] #48 closed

[2018-04-17 05:44] SheikhZayed opened #49 "swift 2.3 support"
how do i make this pod compatible with a legacy app in swift 2.3

[2018-04-17 23:47] quangctkm9207 commented on #49
#48

[2018-04-19 00:26] #49 closed

[2018-05-02 09:35] osama-taha commented on #16
A similar crash just occurred on an iPhone 5c running iOS 10.3.3

please check @quangctkm9207

0  MaterialShowcase               0x1364d94 _T016MaterialShowcaseAAC9addTarget33_5CB0C9DD903070F6044860CDE57F9C26LLySC7CGPointV2at_tF + 2688
1  MaterialShowcase               0x13643a8 _T016MaterialShowcaseAAC9addTarget33_5CB0C9DD903070F6044860CDE57F9C26LLySC7CGPointV2at_tF + 148
2  MaterialShowcase

[2018-05-08 16:18] alvincrisuy opened #51 "version 0.5.2 don't have full screen"
Hi, it seems like 0.5.2 doesn't have the ability to full screen the circle in the version available in cocoapods.

[2018-05-08 23:44] quangctkm9207 commented on #51
@alvincrisuy : Can you share a screenshot related to this issue?

[2018-05-09 00:14] alvincrisuy commented on #51
I checked that it is already available here
<img width="406" alt="screen shot 2018-05-09 at 8 10 24 am" src="https://user-images.githubusercontent.com/7260700/39789152-c8afaecc-5360-11e8-8fb5-853f6e45ce5b.png">

But on my pods, it doesn't show
<img width="529" alt="screen shot 2018-05-09 at 8 10 51 am" src="https://user-images.githubusercontent.com/7260700/39789171-e7b4514c-5360-11e8-8c1d-54b1f7f4

[2018-05-09 02:43] quangctkm9207 commented on #51
The new version [0.6.0](https://cocoapods.org/pods/MaterialShowcase) came out. Please check it out.

[2018-05-09 13:37] alvincrisuy commented on #51
Thank you!

[2018-05-09 13:37] #51 closed

[2018-05-10 02:55] alvincrisuy opened #52 "AddTarget method iskind of class not entering"
[code]

targetCopyView = targetView.snapshotView(afterScreenUpdates: true)

targetCopyView returns an UIReplicantView and cannot determine which kind of class should it enter in the if-else statement

[2018-05-14 10:32] ricocrescenzio95 opened #53 "Too long secondary text gets truncated"
It would be better if the view can expand based on the amount of the secondary text; a the moment it seems that the max lines are fixed to 3.

[2018-05-19 14:15] linuxjet opened #54 "iOS 10 target placement issue"
I am seeing this in iOS 10 - It may exist in other versions, but it was just reported by a users.  The target placement is placed in the wrong location and button highlighting seems to be incorrect as well.

![simulator screen shot - ipad pro 12 9 inch - 2018-05-19 at 09 12 57](https://user-images.githubusercontent.com/378474/40269501-20faea24-5b45-11e8-81df-fa71023e4595.png)

[2018-05-31 02:28] linuxjet commented on #54
After further review this is happening on ipads in general.

[2018-05-31 02:44] quangctkm9207 commented on #54
@linuxjet : I am sorry for my late reply.

Where did you call `showcase.show()` method?
It should be called after the view is laid out correctly on the screen. i.e.  inside `viewWillAppear()` or `viewDidAppear()`.

[2018-05-31 03:49] linuxjet commented on #54
At the end of viewDidAppear.  After some digging, it appears to only miss when "isInGutter" is false and it trys to calculate the position.  You will also notice that button title is not showing as well.

[2018-05-31 06:38] quangctkm9207 commented on #54
Thanks for your confirm. I will take a look.

[2018-05-31 14:29] linuxjet commented on #54
I did a bit more digging on the button text issue.  It appears that the content inset is not getting copied from the previous button.  I had insets of 10,8,8,10 respectively on those buttons and it was getting translated to 80+ when displayed in showcase.

[2018-06-01 02:21] quangctkm9207 commented on #54
I am sorry for being busy so I can not check it immediately.
Did you solve it? Please send a PR and I will update a patch version on CocoaPods.

[2018-06-03 19:58] farshadtx commented on #32
Sorry for late response, Added PR #56 for review

[2018-06-04 07:51] CrafterGamer opened #57 "Showcase.show Error"
Hey I use swift 4 and iOS 11.4
`showcase.show(completion: {
            _ in
            // You can save showcase state here
        })`
have problems

Who is the Error?

[2018-06-04 08:37] quangctkm9207 commented on #57
Let's try the following instead:
[code]

[2018-06-05 23:07] #57 closed

[2018-06-06 10:35] manasmahala opened #58 "MaterialShowcase delegate method is not being called."
showcase.delegate = self
MaterialShowcase delegate method is not being called.

[2018-06-07 13:49] linuxjet commented on #54
I wasn't able to solve it, but I did modify it to work with my app.  basically removed the check and used the center point from the object instead of trying to calculate it.  Included a couple screenshots.
![img_0046](https://user-images.githubusercontent.com/378474/41103836-b50130b8-6a2f-11e8-9af7-3b967a30a77b.PNG)
![img_0045](https://user-images.githubusercontent.com/378474/41103838-b5136166-6a2

[2018-06-07 13:49] #54 closed

[2018-06-07 18:05] farshadtx commented on #32
From version 0.6.1, Carthage is supported by the framework.

I will close the issue.

[2018-06-07 18:05] #32 closed

[2018-06-07 23:10] quangctkm9207 commented on #54
Thanks for sharing your work.
I am sorry that I could not support much.

[2018-06-10 23:57] alexprazeres commented on #58
I had the same issue.
Solved it by putting this inside viewController class
`    func showCaseDidDismiss(showcase: MaterialShowcase) {
        //do what you want
    }

    func showCaseWillDismiss(showcase: MaterialShowcase) {
        //do what you want
    }`
and also this outside

`extension myViewController: MaterialShowcaseDelegate {
    func showCaseWillDismiss(showcase: MaterialShowcase, di

[2018-06-11 00:01] alexprazeres commented on #53
This would be good.
For now, I solved this by manually changing the number of lines.

MaterialShowCaseInstructionView.swift

`secondaryLabel.numberOfLines = 4`

[2018-06-11 01:15] quangctkm9207 commented on #58
@alexprazeres : Thank you for helping out.
@manasmahala : Besides, you can check out the `Sample` app which shows the steps to handle `ShowcaseDelegate`.
https://github.com/aromajoin/material-showcase-ios/blob/c206da67c597f0f38ded95543da70e31940c1bef/Sample/MaterialShowcaseSample/ViewController.swift#L116

[2018-06-11 01:19] #58 closed

[2018-06-20 13:32] vinayakpal opened #59 "property 'showcase.backgroundViewType' not found"
I want to customise the size of background circle as it going to be done by the property "showcase.backgroundViewType = .full" in documentation. But when I try to access this property I got issue as: Value of type 'MaterialShowcase' has no member 'backgroundViewType'.

Please tell any alternative option to customise the background view size

[2018-06-20 23:08] quangctkm9207 commented on #59
Hi @vinayakpal ,
I would like verify these followings.
1. Which language are you using (Swift or ObjectiveC)?
2. And which version of Material Showcase are you using?

[2018-06-21 08:43] vinayakpal commented on #59
Hi @quangctkm9207 ,
I'm currently using Swift-4 & MaterialShowcase (0.5.1) version

[2018-06-21 23:52] quangctkm9207 commented on #59
Please update the library to its latest version [0.6.1](https://cocoapods.org/pods/MaterialShowcase).
`showcase.backgroundViewType = .full` feature is added from version `0.6.0`.

[2018-06-22 04:12] #59 closed

[2018-06-24 13:50] vinayakpal commented on #59
But still my purpose of my issue has not been solved yet as I want to reduce the radius of circle showcase. how would I able to to that?

[2018-07-16 12:43] realtybaron commented on #44
+1

[2018-07-17 11:42] fadizant opened #60 "Weird line in target"
Weird line appear in view
look at image please help .

Code:
`        let showcaseTrafficBleat = MaterialShowcase()
        showcaseTrafficBleat.setTargetView(tabBar: tabBar, itemIndex: 1)
        showcaseTrafficBleat.primaryText = NSLocalizedString("Traffic Bleat", comment: "")
        showcaseTrafficBleat.secondaryText = NSLocalizedString("Your chance to become an active participant in making ou

[2018-07-18 05:19] fadizant commented on #60
@quangctkm9207 Thanks for your response, I test it in iphone x and iphone 6s this Weird line appeared in both

[2018-07-18 05:47] quangctkm9207 commented on #60
Thanks for your report.
After checking it out, I confirmed it happens from the version 0.6.0.
I will dig into this issue and notify as soon as it is fixed.

[2018-07-18 05:51] quangctkm9207 commented on #60
@fadizant If you need to remove this issue immediately, please roll back to version 0.5.2.

[2018-07-18 07:01] quangctkm9207 commented on #44
@realtybaron : For this feature, you might want to check out [a fork repository](https://github.com/congnguyen91/material-showcase-ios) from @congnguyen91.

[2018-07-18 08:06] fadizant commented on #60
@quangctkm9207 Thank you sir .

[2018-07-19 06:01] Vimalkumarnm opened #61 "Delegate methods not working while View inherit the delegates and no option to set backgroundViewType"
**no option to set backgroundViewType**

showcase.backgroundViewType = .full is not available.

**Delegate methods not working while View inherit the delegates.**

I have create a new class name as tempViewClass which inherit UIView, In that tempViewClass i have implemented the showcase. i called that tempViewClass in HomeViewController to show particular view. then i called the function to show t

[2018-07-19 12:52] ajaysharmalike opened #62 "How do I add buttons with their action callback in material showcase library ?"
@quangctkm9207 Just got some custom requirement instead of developing my own showcase library, I prefer to have some workaround for adding action based button in the showcase.

i.e **Next, Previous & Skip** options below the Secondary Label in the instruction view.

[2018-07-19 23:19] quangctkm9207 commented on #61
Hi @Vimalkumarnm,
Which version are you using?
Please check out the latest version (0.6.2).
`showcase.backgroundViewType = .full` is available.

[2018-07-19 23:24] quangctkm9207 commented on #62
Currently, I am sorry that there is no plan for these features.
You can checkout https://github.com/aromajoin/material-showcase-ios/issues/44

[2018-07-25 05:57] Saravana181187 opened #63 "How to save showcase status here?"
I want to display showcase at first time the view was loaded only,  after I don't want to Display that how to save the status of showcase and control it for not showing next times in following completion.

`showcase.show(completion: {
    // You can save showcase state here
    // Later you can check and do not show it again
  })`

[2018-07-25 13:09] Saravana181187 opened #64 "Showcase showing misplaced from assigned target view?"
I want to display showcase for button so I code for that but it shows in misplaced from assigned target view.

I have set the target view for **'+'** symbol button in the following screen shot.
![image-21](https://user-images.githubusercontent.com/8847867/43202602-8c736758-9039-11e8-9b87-23d01b586042.png)

But showcase shows in away from target view, I have provide the screenshot for the issue.
![

[2018-07-26 08:55] Saravana181187 commented on #63
Thanks a lot...

[2018-07-26 09:12] #63 closed

[2018-07-27 04:51] quangctkm9207 commented on #64
It seems like you get `newInspectionBtn` button reference when it is not laid down correctly.

[2018-07-27 04:52] #61 closed

[2018-07-30 09:55] #62 closed

[2018-07-31 10:33] L4grange opened #65 "Any way to support UIBarButtonItem as the target view?"
First of all I would like to thank you for this library!

Secondly, I would like to ask if supporting a UIBarButtonItem as the target view is supported, or is planned. Thank you!

[2018-07-31 10:34] #65 closed

[2018-07-31 10:35] L4grange commented on #65
Nevermind, I should have read the documentation more carefully. Thank you for your time!

[2018-07-31 17:57] khan33 opened #66 "How can I add action on target view?"
have any feature to perform any action by clicking on target view in material showcase library like [MaterialTapTargetPrompt-iOS](https://github.com/Abedalkareem/MaterialTapTargetPrompt-iOS)

[2018-08-01 00:03] quangctkm9207 commented on #66
Please use [Delegate](#https://github.com/aromajoin/material-showcase-ios#handle-showcase-status).

[2018-08-01 15:24] khan33 commented on #66
It's work , Thank u !

[2018-08-01 15:24] #66 closed

[2018-08-02 00:49] quangctkm9207 commented on #66
Great!

[2018-08-02 02:50] aMarCruz opened #67 "Please expose MaterialShowcaseController"
I mean to Objective-C, for using in React Native apps.

[2018-08-02 03:07] quangctkm9207 commented on #67
To integrate in React Native apps, I recommend to check this repository.
https://github.com/prscX/react-native-app-tour

[2018-08-02 03:28] aMarCruz commented on #67
@quangctkm9207, I need some behavior that rn-app-tour does not have, anyway I'm porting something like MaterialShowcaseController to our internal Objective-C code.
Thank you for making your incredible library open source.

[2018-08-02 03:28] #67 closed

[2018-08-04 08:36] fukemy opened #68 "targetTintColor not working?"
My button bar have white color, after set target tint to red. It not working.

![screen shot 2018-08-04 at 15 36 10](https://user-images.githubusercontent.com/8202437/43674304-2b267f74-97fc-11e8-914a-cffb6e0455fd.png)
![screen shot 2018-08-04 at 15 36 18](https://user-images.githubusercontent.com/8202437/43674307-2f689f90-97fc-11e8-93d2-43b206ac0f97.png)

[code]

[code]

[2018-08-04 13:17] quangctkm9207 commented on #68
Because your button is using an image.
Please do not set the tint color for its showcase.
Then, to highlight it, please use `targetHolderColor`.
i.e:
[code]

[2018-08-04 15:31] fukemy commented on #68
work as expected! Thanks you

[2018-08-04 15:31] #68 closed

[2018-08-04 16:25] fukemy opened #69 "showcaseview auto dismiss in 2nd show"
Hello. I have 2 time to show showCase, first is ok. when click to dismiss, in **showCaseDidDismiss** function i take new show case. But it auto dismiss when showed. Can you take a look:

**INIT** (called on viewdidload)
[code]

**FIRST** ( called in get data function)
[code]
**SECOND**
[code]

[2018-08-22 11:28] zishanj opened #70 "Support for UICollectionVIew"
Is there any support for UICollectionView?

[2018-08-22 11:47] zishanj commented on #70
Just tried to create function similar to `tableView` and it works:

[code]

Hope you include it in future release.

[2018-08-22 11:47] #70 closed

[2018-08-29 11:16] ajaysharmalike opened #71 "Delegate callback not working"
Hello @quangctkm9207,

Just checked on master repo, delegate callbacks are not working anymore. App is not able to get dismiss callback on the delegates.

[code]

I guess there has bene some breaking changes in last two releases of the library. But seems to working for 0.6.0 & previous.

[2018-08-29 11:39] Husseinhj commented on #71
Thanks for your report. The example was not update. I will send PR to fix this. Please update your code to this :

[code]

[2018-08-29 23:46] quangctkm9207 commented on #71
Thank @Husseinhj for your support.

[2018-08-30 07:59] Husseinhj commented on #71
@quangctkm9207 Your welcome 👍

[2018-09-06 09:16] ajaysharmalike opened #73 "Not TargetHolderView to be Rectangle for UITableViewCell"
Hi @quangctkm9207

Thanks for such an handy library. I tried using this library which works like charm but when I add it to custom tableView, I am not able to get the actual effect of Showcase in Rectangle. (Though its working fine if defined the radius , but then it shows in TargetHolderView in Circle)

Below is the code snippet :
[code]

Can you help me out where I am making the mistake or I dou

[2018-09-07 09:01] quangctkm9207 commented on #73
Hi @ajaysharmalike ,
Did you check out the sample for TableView case? It worked on your side?

[2018-09-08 17:44] ajaysharmalike commented on #73
Yes, that's working fine in demo. And adding this library to a tableview requires tableview with section & row value only. But this doesn't seems to be working in either case.

[2018-09-08 17:45] ajaysharmalike commented on #73
@quangctkm9207 Yes, that's working fine in demo. And adding this library to a tableview requires tableview with section & row value only. But this doesn't seems to be working in either case.

[2018-09-12 20:39] ajaysharmalike commented on #73
Here are the reference screenshots :
1. Default implementation on UITableView
![img_1754](https://user-images.githubusercontent.com/388989/45451842-edf26d80-b6f9-11e8-9ebe-f2e0d25131b1.PNG)

2. Adding targetHolderRadius value
![img_85ca030cfa97-1](https://user-images.githubusercontent.com/388989/45451846-f0ed5e00-b6f9-11e8-9820-00a67cd57039.png)

In either of cases, Showcase on cell is not getting

[2018-09-12 23:55] quangctkm9207 commented on #73
1. Please **do not set `targetHolderRadius` more than 0**.
2. And at that time, the showcase will use the background of your tableview item as *target holder*.
So, in your storyboard, you should add `background color` or `background image` to your `tableview item`'s content. I saw that it seem to be **transparent** currently.

[2018-09-13 03:29] ajaysharmalike commented on #73
Yupp ... It worked while setting the background color for the cell ContentView. And shouldSetTintColor to false incase cell contains image.

[2018-09-13 03:39] ajaysharmalike commented on #73
Thanks for your inputs. I need to re-open the issue as few other observation around this.

1. HolderView fails to animate incase of Showcase over UITableView
2. Animation doesn't seems to be working, incase app reopened from background/tray.

@quangctkm9207 Not sure, whether its the required behaviour of the library or some issues around it.

[2018-09-19 13:33] vinayakpal commented on #53
Its better to provide control over use side that how many lines user want to added. In my case I settled this issue by setting number of line 0

[2018-09-21 07:01] L4grange commented on #16
I also released an app last week and my top crash is caused by this library (which I'm very thankful for, it's a beautiful way to showcas enew features). Here's my stack trace from Crashlytics:

[code]

in my delayWithSeconds, I just call the showAppShowcase function which presents a showcase on a CollectionViewCell.

[2018-09-22 12:44] quangctkm9207 commented on #16
@L4grange : Did you check on the development stage?

[2018-09-24 08:02] L4grange commented on #16
@quangctkm9207 Could you please clarify what you mean?
On my test devices while I I was developing the app, I never saw this crash, it only appeared when I released to the public.

[2018-09-24 10:20] benjimkh opened #74 "overlapping texts"
Hi @quangctkm9207

Thanks for such an handy library. I tried using this library which works like charm but  i have a problem with it,
this is kinda wierd but sometimes (it doesn't follow a certain pattern)sometimes when the user see's the showcase the text is kinda overlapped check the pic bellow.
i dont know why this happens :\
it's like the showcase is showing two of the showcase at the same tim

[2018-09-24 11:14] quangctkm9207 commented on #16
@L4grange : I see. So that only happens on user's devices but not on your testing one.
Do you know which iOS version of the user's devices?

[2018-09-24 11:51] L4grange commented on #16
@quangctkm9207 Thanks for replying! :)
Yes, all of the crashes are on iOS 10.0.0 to 10.3.3, no crashes on iOS 9, 11 or 12. I'll try running the app on simulators of iOS 10 and report back.

[2018-09-27 01:42] #73 closed

[2018-09-27 01:44] ajaysharmalike opened #75 "HolderView fails to animate in showcase over UITableView"
Hi,

Few issue around the library :
1. HolderView fails to animate incase of Showcase over UITableView.
2. Animation doesn't seems to be working, incase app reopened from background/tray.

@quangctkm9207 Not sure, whether its the required behaviour of the library or some issues around it.

[2018-09-27 07:38] quangctkm9207 commented on #74
Hi @benjimkh ,

In your screenshot, I am sorry that I can not see what exactly the problem is.
Can you give me more detailed picture related to the issue?

[2018-09-27 07:38] quangctkm9207 commented on #73
@ajaysharmalike , Did you solve the issue by yourself?

[2018-09-27 07:39] quangctkm9207 commented on #75
Is this issue related to #73 ?

[2018-09-28 08:49] tapannathvani opened #76 "Unable to compile on XCode 10"
Hello, i am getting errors when compiling material showcase in XCode 10. Can you please update the pod with the support of swift 4.2

[2018-09-30 10:34] quangctkm9207 commented on #76
Please checkout the latest version (0.6.3) that is updated with Swift 4.2.

[2018-09-30 10:34] #76 closed

[2018-10-03 05:00] benjimkh commented on #74
@quangctkm9207
tnx for the reply
look buddy imagine the showcase should show this text :
" Send Order .......... " ok?
the problem is sometimes the showcase shows two or Three "Send Order ........ " one on top of the other it's like its overlapping

![image](https://user-images.githubusercontent.com/43537367/46390824-9c307800-c6e6-11e8-8f22-592db116c017.jpg)

[2018-10-03 05:54] Husseinhj commented on #74
@benjimkh Thanks for the snippet code.
Could you tell me when and where did you call `showFavouriteManagementHint` method?

[2018-10-03 12:27] Husseinhj commented on #74
@benjimkh
Are you calling `showFavouriteManagementHint` NSTimer or something like that may call two times?
I need this detail for testing on sample project like your scenario.

[2018-10-03 13:12] benjimkh commented on #74
@Husseinhj
no no noooooo the func is called only once
i repeat this problem happens 1 in 1000000000  im pretty sure there's something with the library and not the implementation coz as i said it happens 1 in 1000000000

[2018-10-03 13:15] Husseinhj commented on #74
@benjimkh Thanks for your detail. I'll check that, I just want to make sure is not your implementation problem.
But if you find out the exact scenario it's very helpful. Could also tell me it's app in which OS version and device model?

[2018-10-03 14:05] benjimkh commented on #74
@Husseinhj
tnx :)
i've checked in these two device model iphone X , iphone 7 both frm os 11.4 to 12

[2018-10-03 14:07] Husseinhj commented on #74
@benjimkh Thanks again for details.

[2018-10-03 23:54] quangctkm9207 commented on #74
@benjimkh : Thanks for your update.
@Husseinhj : Thanks for your valuable supporting time.
Currently, I saw that the library is not compatible with the recent updates of iOS table view.
Sometimes, it does not work as expected.

I recommend to set `showcase.isTapRecognizerForTargetView = false` when working with table view cell. Please try that.

[2018-10-15 06:41] mouli457 opened #77 "stop showcase"
how to stop the showcase on click button?

[2018-10-15 06:53] Husseinhj commented on #77
Do you want to dismiss the showcase when user tap on button or showcase?

[2018-10-15 07:05] mouli457 commented on #77
Thank you for the response...I want to dismiss the showcase on tap button.

[2018-10-15 07:31] quangctkm9207 commented on #77
The following API might be what you need.
`showcase.isTapRecognizerForTargetView = true`

[2018-10-15 07:37] mouli457 commented on #77
" Value of type 'MaterialShowcase' has no member 'isTapRecognizerForTargetView' " its showing error like this.

[2018-10-15 07:46] Husseinhj commented on #77
Could you give us some snippet of your code usage?

[2018-10-15 08:01] mouli457 commented on #77
func firstShowcase()
    {
      let showcase = MaterialShowcase()
      showcase.delegate = self
      showcase.setTargetView(view : btn1 ) // always required to set targetView
      showcase.primaryText = “Button1”
      showcase.secondaryText = "Click here to see button1 action "
      showcase.backgroundPromptColor = UIColor.blue
      showcase.show(completion: {
      })
      }

func secondS

[2018-10-15 08:05] Husseinhj commented on #77
@mouli457 please put your code in \``` tag like this
 \```swift
 YOUR_MULT_LINE_CODE
\```

It'll help to read the code better. Preview:

[code]

[2018-10-15 08:16] Husseinhj commented on #77
I did change your code with set `isTapRecognizerForTargetView` to `true` value.

[code]
I am displaying showcase on ViewWillAppear
[code]

[2018-10-15 09:29] mouli457 commented on #77
Its showing error as " Value of type 'MaterialShowcase' has no member 'isTapRecognizerForTargetView' "

[2018-10-15 09:34] mouli457 commented on #77
![screen shot 2018-10-15 at 3 02 31 pm](https://user-images.githubusercontent.com/39989237/46942716-8aa68300-d08b-11e8-832c-33b59b4f7ad1.png)

[2018-10-15 09:36] Husseinhj commented on #77
Update to the new version, please read the [release note](https://github.com/aromajoin/material-showcase-ios/blob/master/CHANGELOG.md) and update the SDK.

[2018-10-15 09:55] mouli457 commented on #77
how can i update it by terminal?

[2018-10-15 09:58] Husseinhj commented on #77
Just `cd` to **your root project path** and run in terminal `pod update`.

[2018-10-15 10:33] mouli457 commented on #77
i update it but i am getting error " 'KeyframeAnimationOptions'** is not a member type of 'UIView' "

[2018-10-15 11:03] Husseinhj commented on #77
@mouli457

The upgrade note for version 0.6.3 is:

Update the *Xcode application* to **version 10** to avoid getting `'KeyframeAnimationOptions' is not a member type of 'UIView'` error for supporting the `Swift 4.2`.

[2018-10-15 11:42] Husseinhj commented on #77
Please add this in your pod file:

[code]

[2018-10-15 12:50] Husseinhj commented on #77
@mouli457 Is your problem solved?

[2018-10-16 07:32] mouli457 commented on #77
func showCaseWillDismiss(showcase: MaterialShowcase) this method is calling after update.

[2018-10-16 09:10] Husseinhj commented on #77
In [version 0.6.1](https://github.com/aromajoin/material-showcase-ios/blob/master/CHANGELOG.md#version-061-2018-06-04) this method has changed and the old version `showCaseWillDismiss(showcase:)` should not be invoked, make sure use the last version `showCaseWillDismiss(showcase:, didTapTarget:)`.

[2018-10-16 09:31] mouli457 commented on #77
thank you...showcases are coming,but how can I close all showcases with  "showcase.isTapRecognizerForTargetView = true"

[2018-10-16 12:35] mouli457 commented on #77
I am not showing all showcases at a time...I am showing one after another.

suppose I am showing three showcases. After 1st showcase I am showing 2nd showcase, In between I have to add skip button to stop upcoming 3rd showcase.Thats the functionality I want.

[2018-10-16 23:16] quangctkm9207 commented on #77
It means that you need to close the showcase manually, not by tapping to the target.
Currently, the library does not support this functionality.
However, to stop upcoming showcases in a row, you can save a flag in temporary variable, or using `UserDefault`, i.e: `shouldShowShowcase = false` when users click `Skip` button.
After that, you check if `shouldShowShowcase` is false, you don't show it.

[2018-10-16 23:16] #74 closed

[2018-10-17 06:49] mouli457 commented on #77
Showcase is overlapping the button, So I unable get the button action.

[2018-10-18 06:09] mouli457 commented on #77
Can you please  recommend any showcase library with skip functionality?

[2018-10-18 14:12] quangctkm9207 commented on #77
You might check this fork and try it by yourself: https://github.com/congnguyen91/material-showcase-ios.
Or you can implement it by yourself as my previous recommendation.

[2018-10-30 00:58] quangctkm9207 commented on #77
'Skip' function feature can be referred to https://github.com/aromajoin/material-showcase-ios/issues/44

[2018-10-30 00:59] #77 closed

[2018-10-31 08:44] PabloBlanco10 opened #79 "Crash at private func addTarget(at center: CGPoint)"
I am having a crash at my app when initViews() function calls addTarget function.

    `private func addTarget(at center: CGPoint) {`
        `targetCopyView = targetView.snapshotView(afterScreenUpdates: true)`

This line sometimes provoke this crash:

Fatal Exception: UIViewControllerHierarchyInconsistencychild view controller:<SomeTableViewController: 0x104b39800> should have parent view control

[2018-10-31 09:01] quangctkm9207 commented on #79
Hi @PabloBlanco10 ,

Please call `showTargetView` function inside `viewWillAppear` or `viewDidAppear` **but not** `viewDidLoad`, because the target view should be laid out correctly.

[2018-11-01 11:59] santhosh77h commented on #26
@quangctkm9207 I use this https://github.com/prscX/react-native-app-tour for react native and I have the same problem.
I think `CocoPod` is used by the library

[2018-11-01 13:12] quangctkm9207 commented on #26
This project supports native iOS app. If you build it for ReactNative, please create issue in that repository.

[2018-11-02 14:41] ppamorim opened #80 "Forcing SWIFT_VERSION is not working when you use a outdated version of Xcode"
Hi,

I am getting the error `'KeyframeAnimationOptions' is not a member type of 'UIView'` even adding the script that you have added on your documentation.
Basically my script is:
[code]

Downgrading to `0.6.2` works.

[2018-11-05 13:03] hrsalehi opened #81 "First time showing showcase repeats long texts with overlap!"
Hi, I am using showcase first time app opens.
My problem is when the showcase texts are long, they repeated and overlapped on each other (I one show case the secondary text or primary text repeated and overlapped on itself). If i close the app and restart It again this problem does not occur.
The weird thing is I couldn't repeat the problem in the demo application.

Note: I tested and the problem

[2018-11-05 13:08] Husseinhj commented on #81
@hrsalehi Is this happen every time or just one time?
Do you have just one `showCase` in your app?

[2018-11-05 13:11] hrsalehi commented on #81
1. this happens the first time app installed and opened by user. But if I disabled checking and show showcase every time user opens the app the problem does not occur at other times.
2. I have multiple showcases as a chain.

[2018-11-14 09:59] AmirFT opened #83 "showing a button in tableview"
I have a table view which has a custom cell, and it has 2 buttons.
I'm gonna use showcase to present both buttons and the cell itself.
as I tried
<< showcase.setTargetView(view: cell.editUnitBtn) >>
it changes the buttons constraints and misplace them and it shows the showcase on the nav bar.

![screen shot 2018-11-14 at 1 28 16 pm](https://user-images.githubusercontent.com/38856237/48475093-4684d

[2018-11-14 14:48] quangctkm9207 commented on #83
Did you called it under `onViewDidLoad`? the view is not positioned correctly yet.
Please call it inside `onViewWillAppear` or `onViewDidAppear`.

[2018-11-17 14:57] #81 closed

[2018-11-17 14:57] quangctkm9207 commented on #81
Please checkout the version 0.6.4.

[2018-11-18 02:36] quangctkm9207 commented on #81
Please share if it work or not :)

[2018-11-18 11:15] quangctkm9207 commented on #81
Thanks @hrsalehi, it is much appreciated for @Husseinhj 's work.

[2018-11-20 15:16] vre142 opened #84 "swift 4 support"
Hi how can I use it in swift 4 and xcode 9?
can you give me a solution for it?
Thanks,
Vafa

[2018-11-20 15:39] Husseinhj commented on #84
Basically for using the last version of the library you can't. Because the [last version](https://github.com/aromajoin/material-showcase-ios/blob/master/CHANGELOG.md#version-064-2018-11-10) of the library supports swift 4.2.

But you can use [0.6.2](https://github.com/aromajoin/material-showcase-ios/blob/master/CHANGELOG.md#version-062-2018-07-18) version it supports swift 3.

[2018-12-03 07:29] puji26 opened #85 "Call showcase viewDidload Crash"
Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value at: let center = calculateCenter(at: targetView, to: containerView)

[2018-12-03 08:00] Husseinhj commented on #85
Please read the documentation.

[2018-12-03 09:15] puji26 commented on #85
I found this problem

DispatchQueue.main.asyncAfter(deadline: .now() + 1) { // change 2 to desired number of seconds
                        // Your code with delay
                         showcase.show()
                    }

[2018-12-03 09:20] Husseinhj commented on #85
@puji26 Using **delay** is not the right way.

Please call `showcase.show()` inside `viewWillAppear()` or `viewDidAppear()`.

[2018-12-03 09:27] #85 closed, assigned to nobody

[2018-12-11 10:07] sreevaniseelaka opened #86 "If text is lengthy, not showing complete text for secondary text."

[2018-12-11 10:09] Husseinhj commented on #86
Could you give us your snippet code with exact text you want to show in the secondary text?

[2018-12-11 10:12] sreevaniseelaka commented on #86
Click here to set up user, add people, near by hotels or general information.

[2018-12-11 10:16] Husseinhj commented on #86
I've tested in iPhone 5s:

<img src="https://user-images.githubusercontent.com/27139702/49793647-f8e58a00-fd4a-11e8-9215-30083802dbf1.png" width="25%" height="25%" />

Could you give me your code to see you implementation?

[2018-12-14 11:17] bokhary3 commented on #86
@sreevaniseelaka this happened  when your text need more  than two line, because the label for secondary  text has 2 lines only.

[2018-12-14 11:33] sreevaniseelaka commented on #86
Ok Thank you

[2018-12-14 11:33] #86 closed

[2018-12-14 19:08] vre142 commented on #83
I have this problem too. how can I access to specific row of tableview and specific item in cell like uibutton in first row of tableview?

[2018-12-24 18:42] Husseinhj commented on #83
@vre142
By implement `willDisplay` method of tableView and create an instance of Showcase and show it like this code:

[code]

##### Screenshot:

<img src="https://user-images.githubusercontent.com/27139702/50405371-d16dd300-07c8-11e9-8f19-0a5e1025c34a.png" width="25%" height="25%">

[2018-12-24 18:45] Husseinhj commented on #80
@ppamorim Did your problem solved?

[2019-01-09 06:53] erfanwakka commented on #64
Same problem. Any solution /?

[2019-01-09 06:58] Husseinhj commented on #64
Give us an example project to find the solution. For some reason, your control is not laid down correctly.

[2019-01-09 07:00] erfanwakka commented on #64
`class WalletVC: BaseVC {

    @IBOutlet weak var leftNavigationItem: UIBarButtonItem!

    fileprivate let walletViewModel = WalletViewModel()
    var showCaseState = 0
    var pageMenu: CAPSPageMenu?
    var controllerArray: [UIViewController] = []
    lazy var showBalanceUseCase: MaterialShowcase = {
        let showcase = MaterialShowcase()
        showcase.setTargetView(barButtonItem: leftNav

[2019-01-09 07:02] Husseinhj commented on #64
@erfanwakka Please put your code in \``` block code

\```swift
YOUR_CODE
\```

[2019-01-09 07:03] erfanwakka commented on #64
I did, It's just an BarButtonItem

[2019-01-09 07:38] Husseinhj commented on #64
Are sure before calling `viewDidAppear ` your bar button is laid down correctly?

What exactly does `customNavigationItem` do on BarButtonItem?

[2019-01-09 07:52] erfanwakka commented on #64
I just change the title of my navigation bar button item

[2019-01-09 07:55] Husseinhj commented on #64
Are sure about this?

[2019-01-09 07:58] erfanwakka commented on #64
could you specify laid down means ? In documents said just put it in ViewDidAppear and I do nothing after that

[2019-01-09 08:11] Husseinhj commented on #64
Means are you sure your BarButton before calling `viewDidAppear` or calling `showBalanceUseCase.show {}` has been loaded?

[2019-01-10 00:13] quangctkm9207 commented on #64
@erfanwakka : is your app native app or written by ReactNative?

[2019-01-10 00:19] quangctkm9207 commented on #64
It seems that the view is not initialized from storyboard?
So, it is not placed correctly before viewDidAppear() called.

[2019-01-13 08:35] erfanwakka commented on #53
I have the same issue but when I changed numberOfLines to 0 nothing changed. Here are my settings:
`showcase.backgroundPromptColorAlpha = 1
        showcase.backgroundPromptColor = #colorLiteral(red: 0.1764705926, green: 0.4980392158, blue: 0.7568627596, alpha: 1)
        showcase.targetHolderColor = .clear
        showcase.targetHolderRadius = 50
        showcase.backgroundViewType = .full

[2019-01-13 08:42] erfanwakka opened #87 "secondary text get truncates"
I have the same issue but when I changed numberOfLines to 0 nothing changed. Here are my settings:

` showcase.backgroundPromptColorAlpha = 1

        showcase.backgroundPromptColor = #colorLiteral(red: 0.1764705926, green: 0.4980392158, blue: 0.7568627596, alpha: 1)
        showcase.targetHolderColor = .clear
        showcase.targetHolderRadius = 50
        showcase.backgroundViewType = .full

[2019-01-13 12:58] #87 closed

[2019-01-23 13:02] muhammadalkhalaf opened #89 "Programmatically Dismiss"
How I can programmatically dismiss current showcase ?

[2019-01-23 13:22] Husseinhj commented on #89
Could you give us an example or a scenario of your need to dismiss showcase programmatically?

[2019-01-23 18:44] muhammadalkhalaf commented on #89
For example I want to show showcase for 3 seconds and then I  programmatically dismiss it

[2019-01-24 01:07] quangctkm9207 commented on #89
I am not 100% sure, but please try the following function to see if it works.
`showcase.completeShowcase(animated = true, didTapTarget = false)`

[2019-01-24 01:10] #84 closed

[2019-01-24 07:04] muhammadalkhalaf commented on #89
Thanks. That's exactly what I want

[2019-01-25 00:38] quangctkm9207 commented on #89
Nice. This issue should be closed.

[2019-01-25 00:38] #89 closed

[2019-02-19 13:31] fadizant commented on #53
please make
secondaryLabel.numberOfLines
to be an option that we can change the number of lines to fit our usage .

[2019-02-19 13:42] Husseinhj commented on #53
@fadizant

We already did that at #88 PR but haven't released it yet.

[2019-02-19 13:43] fadizant commented on #53
Oh thanks, waiting for next release.

[2019-02-25 18:23] DanielZanchi commented on #87
Same issue for me :(

[2019-02-25 20:38] Husseinhj commented on #87
@DanielZanchi
We already did that at #88 PR but haven't released it yet.

[2019-02-26 01:38] quangctkm9207 commented on #87
@erfanwakka @DanielZanchi @Husseinhj : I have just published new version (0.6.5).
Please check it out. Thanks!

[2019-02-26 01:38] quangctkm9207 commented on #53
I have just published new version (0.6.5).
Please check it out. Thanks! :)

[2019-02-26 12:53] DanielZanchi commented on #87
Thanks, how can I choose the number of lines?

[2019-03-10 12:56] fadizant opened #92 "Secondary text have multi line draw over target view"
When the secondary text have multi line ( more than 3 lines ) and instructionView will show above of target view the text will draw over target view.

I have make some changes in MaterialShowcase.swift to calculate the height depends of text font and size for primary text and secondary text not to be static as before `LABEL_DEFAULT_HEIGHT * 2`

can you check this issue please, thanks.

[code]

[2019-03-21 09:49] anuranBarman commented on #33
@GeekerX did you find the solution? I am also having the same problem

[2019-03-21 14:17] zahariadaniel16 commented on #92
I agree with this change because I also need it.
Developer, please review this issue!

[2019-03-21 23:50] quangctkm9207 commented on #92
@fadizant. Thank you for addressing the issue.
Can you send a PR for that?

[2019-03-31 07:21] ayush-globant commented on #83
I'm still facing the issue for misplaced targetHolder. I've used the same code as above. The tablecell has only one single label.

[code]

[2019-03-31 07:22] ayush-globant commented on #83
![Simulator Screen Shot - iPhone XS - 2019-03-31 at 12 51 46](https://user-images.githubusercontent.com/33425179/55286031-c15f2400-53b3-11e9-988b-59db02e1b796.png)

[2019-04-01 09:45] dimawushu opened #94 "Carthage. no shared framework schemes for any of the platforms: iOS"
Hi, have an issue. Could you help me fix it?
<img width="603" alt="Screen Shot 2019-04-01 at 12 44 35" src="https://user-images.githubusercontent.com/16700777/55318688-02bb0680-547c-11e9-9a7d-f7ee10ce9394.png">

[2019-04-18 22:31] baquer opened #96 "Value of type 'MaterialShowcase' has no member 'setUserState'"
When I am trying to set the key for the showcase, it is showing this error.

[2019-05-09 06:07] RajvinderPayU commented on #33
It seems like if UIBarbuttonItem is initialized like this:
`UIBarButtonItem.init(title: "Skip", style: .plain, target: self, action: #selector(btnTappedSkip))`

then  `setTargetView(barButtonItem: UIBarButtonItem)` doesn't set the target as `(barButtonItem.value(forKey: "view") as? UIView)` is nil

they need to do some modification in the library.

[2019-05-15 14:47] MamtaKukreja opened #97 "Remove ripple animation"
I want to stop the ripple effect for TargetView. How is that possible?

[2019-05-15 15:19] MamtaKukreja opened #98 "Set image as background"
Does the library allow to set an image as background instead of `showcase.backgroundPromptColor = UIColor.black`?

[2019-05-15 23:37] quangctkm9207 commented on #98
Hi @MamtaKukreja , currently, it is not supported.

[2019-05-16 05:51] #98 closed

[2019-05-16 14:09] deepskandpal opened #99 "MaterialShowCaseSequence Not Present"
Hi I am currently working in an application which needs multiple showcases shown in an sequence (just like the example shown in the ReadMe ) however I cannot find that option can you please help

[2019-05-16 15:47] anaTamayoLenzi opened #100 "Crash on initViews() when target view is a UIBarButtonItem"
I'm getting a crash because the targetView is nil when I show the showcase.
Here is the line where I get the crash:
let center = calculateCenter(at: targetView, to: containerView)

It seems that when I try to set the target view for my UIBarButtonItem, the value for key "view" is not there:

@objc public func setTargetView(barButtonItem: UIBarButtonItem) {
// Never enters to if statement
    if le

[2019-05-16 16:59] anaTamayoLenzi commented on #100
I was doing the MaterialShowcase code in viewDidLoad function. I moved this code to be in viewWillAppear and it worked.

[2019-05-16 16:59] #100 closed

[2019-05-26 22:30] shiv19 commented on #99
@deepskandpal you'll have to expose it to objective C, you can check my fork
https://github.com/shiv19/material-showcase-ios/blob/7784606b9f8df4a7f0a5facf9914785507a19a95/MaterialShowcase/MaterialShowcaseSequence.swift#L11

[2019-05-27 03:31] WintonChur commented on #99
The MaterialShowcaseSequence.swift file is missing after I run pod install......

[2019-05-27 03:37] shiv19 commented on #99
Which verison of the pod are you installing?

[2019-05-27 03:49] WintonChur commented on #99
0.6.5

[2019-05-27 03:50] WintonChur commented on #99
![image](https://user-images.githubusercontent.com/43951388/58394389-53b73780-8086-11e9-9672-5cc76052874b.png)
This is what I have

[2019-05-27 03:52] WintonChur commented on #99
![image](https://user-images.githubusercontent.com/43951388/58394442-937e1f00-8086-11e9-8634-f8df7327d4e2.png)

So I cannot use this, haha

[2019-05-27 03:54] WintonChur commented on #99
![image](https://user-images.githubusercontent.com/43951388/58394507-efe13e80-8086-11e9-90cd-36bec1f841d3.png)

[2019-05-27 04:01] shiv19 commented on #99
If you clone the master branch and open MaterialShowcase.xcworkspace on Xcode, you should be able to run the demo just fine.
Did you try installing the pod from the master branch instead?
`pod 'MaterialShowcase', :git => 'https://github.com/aromajoin/material-showcase-ios.git', :branch => 'master'`

[2019-05-27 04:13] WintonChur commented on #99
Thanks very much, It works on ( pod 'MaterialShowcase', :git => 'https://github.com/aromajoin/material-showcase-ios.git', :branch => 'master' ).

[2019-05-27 04:30] shiv19 commented on #99
@WintonChur
For safety, I recommend using commit hash instead,

at the time of writing this comment, the latest commit hash is `efbcff152eb11acec5ca05d4a2c7d700c1bb2b76`, so you can use =>

`pod 'MaterialShowcase', :git => 'https://github.com/aromajoin/material-showcase-ios.git', :commit => 'efbcff152eb11acec5ca05d4a2c7d700c1bb2b76'`

[2019-05-27 05:27] WintonChur commented on #99
Hi  shiv19, thanks for help~~~

[2019-05-27 07:48] WintonChur opened #101 "showcase.backgroundPromptColor = .red"
Cannot set the showcase.backgroundPromptColor on this branch "pod 'MaterialShowcase', :git => 'https://github.com/aromajoin/material-showcase-ios.git', :commit => 'efbcff152eb11acec5ca05d4a2c7d700c1bb2b76'
"

Thanks.

[2019-05-28 01:06] WintonChur opened #102 "sequence.temp(showcase1).temp(showcase2).temp(showcase3).start()"
Hi, the  sequence only displays the showcase 1 with the following code:

let sequence = MaterialShowcaseSequence()
        let showcase2 = MaterialShowcase()
        let showcase3 = MaterialShowcase()
        let showcase1 = MaterialShowcase()
        showcase1.delegate = self
        showcase2.delegate = self
        showcase3.delegate = self
        sequence.temp(showcase1).temp(showcase2).temp(

[2019-05-29 16:30] SebastianBO opened #103 "Update to Swift 5"
Is this Swift 5 compatible? Doesn't seem like it

[2019-06-04 06:07] shiv19 commented on #102
It does show all three. But not 100% of the time.
Sometimes it stops after 2nd showcase, sometimes after 1st, with no helpful error message.

[2019-06-06 20:29] markoImake commented on #102
I'm also experiencing this problem. Any ideas for a workaround?

[2019-06-11 15:11] SamMcNeilly commented on #101
Hey @WintonChur - I'm not affiliated with this repo in any way, but have you tried setting `backgroundPromptColor` **after** you've called `setTargetView()`? I've observed that if you set the target view afterwards the background colour is overridden.

[2019-06-14 09:43] pacifire opened #104 "Use of unresolved identifier 'MaterialShowcaseSequence'"
I have implemented material-showcase-ios in my app, using `pod 'MaterialShowcase'`
Showcases are working very fine & I am able to see the Showcases successfully.

But I am facing error, while integrating Sequence : Error is as follows:
_Use of unresolved identifier 'MaterialShowcaseSequence'; did you mean 'MaterialShowcaseDelegate'?_

Screenshot attached:
![Screen Shot 2019-06-14 at 3 11 58 PM](ht

[2019-06-14 10:00] SebastianBO commented on #103
16 days ago, is this not something you're thinking about?

[2019-06-17 06:57] pacifire commented on #102
In my case, the sequence drops after 1st showcase only.

[2019-06-17 07:07] pacifire commented on #104
Found the fix at:

pod 'MaterialShowcase', :git => 'https://github.com/aromajoin/material-showcase-ios.git', :commit => 'efbcff152eb11acec5ca05d4a2c7d700c1bb2b76'

[2019-06-17 07:07] #104 closed

[2019-06-17 11:26] pacifire opened #105 "How to apply Material Showcase on a Segment Control"
I am using **HMSegmentedControl**, like:
` hmSegment_Object = HMSegmentedControl(sectionImages: [UIImage(named:"ic_payments_inactive")!,UIImage(named:"ic_loans_inactive")!], sectionSelectedImages: [UIImage(named:"ic_payments_active")!,UIImage(named:"ic_loans_active")!], titlesForSections: ["PAYMENTS", "GOLD LOANS"])`

How do i apply MaterialShowcase to the HMSegmentControl.

[2019-06-19 13:51] pathaderavi opened #106 "MaterialShowcaseSequence sequence.temp not working"
I am trying to use sequence for walkthrough, but the sequence is not working as it shows only first screen in the sequence

[2019-07-17 05:47] gideonbenz opened #107 "Can I adjust spacing for title text and description text?"

[2019-07-17 05:53] #107 closed

[2019-07-17 09:21] gideonbenz commented on #97
@MamtaKukreja  You mean the blinking stuff? I just simply change my showCase.targetHolderRadius = 0. I hope this is what you're looking for

[2019-07-19 07:24] santhoshsk1918 opened #108 "Table View Show Case not dismissing even tapped"
I am trying to showcase an item in the tableview. Using the `showCase.setTargetView(tableView: tableView, section: section, row: row);`
material show case is shows perfectly but it is not dismissing at all.
This happens when tableview has didSelectRowAt method implimented. and you set showCase.isTapRecognizerForTargetView = true/false.

**Observation**
if you do not set isTapRecognizerForTargetVie

[2019-07-23 06:54] gideonbenz commented on #44
I see, this discussion already ended a while ago, so is it possible to make skip button to skip sequences? I'd like to know more about upcoming updates such as this skip feature
thankyou guys!

[2019-08-21 00:02] #103 closed

[2019-08-21 00:03] quangctkm9207 commented on #103
I am sorry for a long delay.
Please check the version 0.6.6 which is updated with Swift 5.

[2019-08-22 00:11] #83 closed

[2019-08-22 00:18] quangctkm9207 commented on #99
I am sorry for my really late response.
Just pumped this library to version 0.6.6 which includes this feature.

[2019-08-22 00:18] #99 closed

[2019-08-22 00:22] quangctkm9207 commented on #101
I would like to close this issue and put the @SamMcNeilly 's answer on FAQ page, so others can refer to it.
Feel free to open this again if it still does not work.

[2019-08-22 00:22] #101 closed

[2019-08-22 00:25] quangctkm9207 commented on #106
Which version are you using?
Can you check out the latest version 0.6.6 to see if it fixes the issue or not? Thanks.

[2019-08-22 00:27] quangctkm9207 commented on #97
I would like to close this issue.
If @gideonbenz 's answer does not work for you. Feel free to open this.

[2019-08-22 00:27] #97 closed

[2019-08-22 00:33] quangctkm9207 commented on #96
You might use `setKey()` method which can be referred from [here](https://github.com/aromajoin/material-showcase-ios/blob/d901ad694d17b7298c4a487ad020fd8ed1a5eac1/MaterialShowcase/MaterialShowcaseSequence.swift#L32).

[2019-08-22 00:33] #96 closed

[2019-08-22 00:42] quangctkm9207 commented on #80
I would like to close this issue.
Anyone still experiences this, feel free to open it again.

[2019-08-22 00:42] #80 closed

[2019-08-22 00:46] quangctkm9207 commented on #106
Does the answer from this #69 help?

[2019-08-22 00:47] #69 closed

[2019-08-22 00:48] #79 closed

[2019-08-22 00:50] quangctkm9207 commented on #75
There is no update on this issue, so I would like to close it.

[2019-08-22 00:50] #75 closed

[2019-08-22 00:54] quangctkm9207 commented on #108
Did you try to showcase a row in the table view or a view inside a table view cell?

[2019-08-22 13:34] santhoshsk1918 commented on #108
Submitting Row not view inside table view cell

[2019-08-22 13:37] santhoshsk1918 commented on #108
Just guessing. forgive me if i have understood it wrong.
`
  /// Sets a UITableViewCell as target
  @objc public func setTargetView(tableView: UITableView, section: Int, row: Int) {
    let indexPath = IndexPath(row: row, section: section)
    targetView = tableView.cellForRow(at: indexPath)?.contentView
    // for table viewcell, we do not need target holder (circle view)
    // therefore, set it

[2019-08-23 00:11] quangctkm9207 commented on #108
I tested with 'sample' app inside the repository with a default-style UITableView, actually, we need to set ''isTapRecognizerForTargetView = false".
Can you try it to see if it works in your project?

[2019-08-23 13:54] santhoshsk1918 commented on #108
I don't Know why it did not work that day. if isTapRecognizerForTargetView is set to false it is dismissing.
It is not Dismissing when isTapRecognizerForTargetView is set to true.

Closing this issue will open a issue for when isTapRecognizerForTargetView is set to true

Thanks for the reply

[2019-08-23 13:54] #108 closed

[2019-08-24 10:17] acali18 opened #109 "Adjust background radius"
Hi, I'm interested in adjusting the size of the background radius. I'd like for the user to see the content behind the background as it is relevant to the target. However if I make the alpha too low then the primary and secondary text become difficult to read. Is it possible to change the background radius?

[2019-09-10 07:37] syedrazackimran commented on #102
for me also the same issue, it's showing only  first showcase only
it's not continue one by one. kindly do needfully
`
var showCaseSequence = MaterialShowcaseSequence()
extension HomeVC: MaterialShowcaseDelegate {
    func setUpSpotlight() {
    showCaseSequence.temp(bookingCase).temp(moreCase()).start()
    }
func bookingCase() -> MaterialShowcase {
        let bookingCase = MaterialShowcase()

[2019-09-27 15:56] poisondminds commented on #94
Same for me ... if I point explicitly to an older version, it builds successfully
`github "aromajoin/material-showcase-ios" == 0.6.1`

[2019-09-27 16:06] poisondminds commented on #94
I think I see why @quangctkm9207 -

It looks like the xcshareddata content required for carthage was removed in this commit: https://github.com/aromajoin/material-showcase-ios/commit/6ffe4a2f11115250923c27d2d381ccedbf9fe15b

[2019-09-27 16:18] poisondminds commented on #94
Unfortunately it looks like that commit was before the swift 5 migration :(

[2019-09-30 03:28] poisondminds opened #111 "Target Clickthrough"
I noticed (correct me if I'm wrong) that there's no notion of a target clickthrough on MaterialShowcase. I'd love to create a `setClickthrough(enabled:Bool)` that dismisses the showcase, but also performs the action of the target (if it's touch enabled). What do you think?

[2019-10-04 08:04] poisondminds commented on #111
https://github.com/aromajoin/material-showcase-ios/pull/112

[2019-10-04 08:07] poisondminds opened #113 "didTapTarget Incorrectly false for UITableViewCell"
It seems that the delegate's `showCaseDidDismiss?(showcase: didTapTarget:)` is incorrectly false when dismissing the showcase by tapping the target cell.

[2019-10-05 02:29] #111 closed

[2019-10-09 12:34] invisibleBully opened #115 "Carthage."
When using Carthage: "MaterialShowCase was compiled with optimization - stepping may behave oddly; variables may not be available."

[2019-10-23 15:26] pathaderavi opened #116 "How to increase the radius of colored background circle especially for iPads?"
I am trying to increase the size of the showcase to fit the device like it appears on iPhones but unable to find right option for that.
![Simulator Screen Shot - iPad Pro (12 9-inch) (3rd generation) - 2019-10-23 at 10 55 25](https://user-images.githubusercontent.com/19513557/67408926-cb32b980-f587-11e9-82b7-7b66d756e5eb.png)

I am trying to stretch the blue circle in the screenshot to be fit to t

[2019-10-23 23:33] quangctkm9207 commented on #116
Hi @pathaderavi,

The background radius for the iPad currently is fixed at 300.
https://github.com/aromajoin/material-showcase-ios/blob/3fc0c0441a10e65b0c3b7206dd7e496824d1d4af/MaterialShowcase/MaterialShowcase.swift#L319

[2019-10-29 00:47] quangctkm9207 commented on #116
I am working on this.

[2019-10-29 00:50] quangctkm9207 commented on #115
@invisibleBully: The following link might be helpful for you to compile the framework in Carthage.
https://github.com/Carthage/Carthage/issues/1135

Please let me know if this solves your issue.

[2019-10-29 00:53] quangctkm9207 commented on #109
@acali18: I moved this issue to #116.
I am working on that, and please follow its status over there. Thanks :)

[2019-10-29 00:53] #109 closed

[2019-10-29 00:55] quangctkm9207 commented on #106
@pathaderavi: This thread is not active anymore. I would like to close it.

[2019-10-29 00:55] #106 closed

[2019-10-29 00:57] quangctkm9207 commented on #106
You can reference to #102 for updates.

[2019-10-29 01:49] quangctkm9207 commented on #94
Thanks to @poisondminds for PR that fixed the issue.
So, this thread should be closed.

[2019-10-29 01:49] #94 closed

[2019-10-29 05:56] quangctkm9207 commented on #116
Please check the 0.7.1 version that you can change the background radius.

[2019-11-03 06:00] acali18 commented on #116
I updated to version 0.7.1 and found that the background radius can now easily be adjusted with the backgroundRadius property. Thank you.

This leaves me with 1 more question, can the location of the text from the center be adjusted as well?  Changing the background radius appears to have no regard for the location of the primary and secondary text. Let me know if I'm missing something, thanks!

[2019-11-05 05:41] tdle94 commented on #113
Can you pull from master and try again. I fix the issue

[2019-11-06 16:58] poisondminds commented on #113
@tdle94 it seems that your commit caused several problems - `isTapRecognizerForTargetView` no longer functions properly. Play with the flag in the sample app and you'll see what's broken

`isTapRecognizerForTargetView` set to false no longer functions as it should. When this is set to false, the showcase should dismiss when you tap outside of the target

[2019-11-07 00:34] quangctkm9207 commented on #113
I just reverted to the previous commit.

[2019-11-08 08:46] zeusent opened #117 "Result of call to 'insetBy(dx:dy:)' is unused"
Xcode is throwing a warning on this line: https://github.com/aromajoin/material-showcase-ios/blob/49504ddfedbf9ab5d089504303ef4edefd9a7372/MaterialShowcase/MaterialShowcase%2BCalculations.swift#L43.
Looking at it and the line above I think they should be changed to this:

[code]

[2019-11-08 09:06] acali18 opened #118 "TapThrough Functionality for TabBarController"
I am having a problem with the tapThrough functionality of the tabBar. Allowing tapThrough on a tabBar creates the following error:
"Directly modifying a tab bar managed by a tab bar controller is not allowed'

Here is the code I've used in the past to select a tabBar index:
self.tabBarController?.selectedIndex = 2

But here is the code in the MaterialShowcase.swift:
onTapThrough = { tabBar.select

[2019-11-20 22:05] ppamorim commented on #116
@acali18 I found that too, the text sometimes is no in the center of the radius, almost touching the outside border.

[2019-11-20 23:42] quangctkm9207 commented on #116
I re-opened to fix this issue.
By initial checking the codes, it seems to be more complicated than I thought.

[2019-11-28 14:30] ppamorim commented on #116
@quangctkm9207 Hi, any idea how to solve this?

![bug](https://user-images.githubusercontent.com/5521682/69814214-9f8c9a00-11eb-11ea-83af-ca26647c1558.png)

[2019-11-28 15:11] ppamorim commented on #116
I cannot solve it accessing the `subviews` because you implemented the addView inside the `layoutSubviews`, my settings are getting replaced because you unnecessarily rebuild the `UILabel`s for no reason.

[2020-01-13 16:13] ezefire commented on #116
Hi, I have the same problem of ppamorim

[2020-01-13 23:48] quangctkm9207 commented on #116
I feel so sorry that the issue is more complicated than I thought. And recently, I still don't find time to fix this one.

[2020-01-21 20:59] pangia opened #119 "iOS Voiceover"
Does this support the material design standard for being accessible with voiceover?  I can't seem to make it work. Thanks.

[2020-01-21 23:50] quangctkm9207 commented on #119
@pangia : Thanks for asking.
I have not tested with VoiceOver yet.
Did you try it?

[2020-02-04 06:48] #115 closed

[2020-02-24 11:01] differenz-system opened #121 "Wrong frame in sequence case if page is in UIScrollView"

[2020-03-05 14:10] ppamorim opened #122 "Library not loaded: @rpath/libswiftUIKit.dylib"
Hi,

When running a UI test outside Xcode, I get this error:

[code]

The solution for this problem is to add this line in your podspec:

[code]

Please follow this report: https://github.com/airbnb/lottie-ios/issues/1141

I was able to fix this by creating a fork and applying this flag manually.

Thank you.

[2020-03-05 23:59] quangctkm9207 commented on #122
Thanks @ppamorim for reporting and sharing.
If you already fixed the issue, can you make a pull request?

[2020-03-06 00:04] ppamorim commented on #122
@quangctkm9207 I am not sure if this should be set as default. I am afraid and it needs to be researched.

[2020-03-06 02:28] quangctkm9207 commented on #122
In XCode configuration, I am wondering if the 'Embed' setting is changed as below for Pods_.framework,
can the problem be solved?
<img width="633" alt="Screen Shot 2020-03-06 at 11 21 36" src="https://user-images.githubusercontent.com/5425265/76044414-9b67d980-5f9d-11ea-9fa0-2f0ab069b016.png">

[2020-03-08 00:18] ppamorim opened #123 "Random crash due nil init"
Hi, I was testing my app on the simulator and this happened:

<img width="445" alt="Screenshot 2020-03-08 at 00 11 48" src="https://user-images.githubusercontent.com/5521682/76154289-da974700-60d1-11ea-84e8-658b11327c1b.png">
<img width="790" alt="Screenshot 2020-03-08 at 00 11 22" src="https://user-images.githubusercontent.com/5521682/76154291-db2fdd80-60d1-11ea-99a8-5c3908d2a3d7.png">
<img width

[2020-03-08 00:18] ppamorim commented on #122
@quangctkm9207 I am not sure, this was working fine in the older version of this pod.

[2020-03-08 03:33] ppamorim commented on #122
@quangctkm9207 I dont recommend adding the flag above, it causes this issue:

[code]

[2020-03-09 03:57] quangctkm9207 commented on #122
Thanks for confirming.
I think the temporary solution is that you can build `.framework` file and add it manually into your project instead of using CocoaPod.

[2020-03-09 03:59] quangctkm9207 commented on #123
Do you think that the `materialShowcase.show()`  function was called too early that the target view had not laid out in UI yet?
So, it was null at that time.

[2020-03-09 11:13] ppamorim commented on #123
@quangctkm9207 `button` has been created and added as subview in the function `loadView()` by code and `materialShowcase.show()` was called in the `viewDidAppear(_ animated: Bool)` method. I know I know, very strange.

[2020-03-09 11:14] ppamorim commented on #122
@quangctkm9207 Do you have any idea why this is happening? I am not experiencing this with other libraries.

[2020-03-10 01:34] quangctkm9207 commented on #123
Yes. It is quite strange because it happened randomly.

[2020-03-10 01:36] quangctkm9207 commented on #122
As the log result showed, I think it occurred with the libraries including UIKit only.

[2020-03-10 01:39] quangctkm9207 commented on #122
Besides, do you think that is related to Xcode as the discussion in the following thread?
https://github.com/CocoaPods/CocoaPods/issues/8318

[2020-03-10 07:44] hamzashahid91 commented on #116
@ppamorim  increasing the background radius fixed it for me
`showcase.backgroundRadius = 400.0`

[2020-03-10 11:00] ppamorim commented on #123
@quangctkm9207 I think the only way to sort this out is to rewrite the instances and use `UIView?` instead of `UIView!`.

[2020-03-10 11:02] ppamorim commented on #122
@quangctkm9207 Good discussion in the first link. With the second link I was unable to fix it.

[2020-03-10 23:33] quangctkm9207 commented on #122
@ppamorim : It seems that it takes more time for research.

[2020-03-10 23:35] quangctkm9207 commented on #123
That would be a good suggestion.
Based on your tests, how often does the crash occur?

[2020-03-23 11:27] AlexanderZubkov commented on #123
/// Sets a UITableViewCell as target
    @objc public func setTargetView(tableViewCell: UITableViewCell) {
        targetView = tableViewCell.contentView
        // for tableViewCell, we do not need target holder (circle view)
        // therefore, set its radius = 0
        targetHolderRadius = 0
    }

    /// Sets a UICollectionViewCell as target
    @objc public func setTargetView(collectionVi

[2020-04-14 10:30] zeusent opened #125 "Add support for Swift Package Manager"
Swift Package Manager (SPM) is becoming pretty popular. Could you add support for it? It should be pretty straight forward

[2020-04-14 17:50] SmiliPRO commented on #116
Hi all! I would like to jumping onto this issue. I have an tutorial made for my photo editing app and it looks like the text isn't center launching on iPad... even if I change the background radius.

<img width="469" alt="Captura de pantalla 2020-04-14 a las 19 44 57" src="https://user-images.githubusercontent.com/62518291/79256952-25eb0500-7e89-11ea-9a76-1bb630f405dd.png">

[2020-05-01 18:23] Salarsoleimani opened #127 "Add blur to BackgroundTypeStyle please"
I tried to add a blur case in BackgroundTypeStyle. then in addBackground() method added:
[code]
but nothing changed. could you please add blur effect in your code for furthur use.

Thanks

[2020-05-12 19:53] DemetAkyol opened #128 "Not working correctly in EditText fields"
It works for buttons and other views, but when I do it for EditText, it doesn't get the entire field. It stays in the middle of EditText and the target cannot be calculated. I want to mark the entire text field. How can I do?

[2020-05-13 09:29] amodkanthe opened #129 "Secondary text getting cropped after updating to 0.7.1 from 0.6.6"
Observed secondary title is getting cropped after updating to 0.7.1

Following is my code

` func addCoachMarks()
    {

    let indexPaths = appHomeTableView.indexPathsForVisibleRows
    var coachMarks = [MaterialShowcase]()
    for index in indexPaths ?? [] {
    if let homeCell = appHomeTableView.cellForRow(at: index) as? HomeFlightTableViewCell {
        let showCaseAirportCode = createCoachMa

[2020-05-14 19:50] Salarsoleimani commented on #127
Is anybody here? :)

[2020-05-25 04:01] quangctkm9207 commented on #129
I would like to recommend you to set the background to .fullscreen in the case your text is long.

[2020-05-25 06:13] amodkanthe commented on #129
Don't want to switch full screen this looks much better it was working fine in previous version so rolled back to 0.6.6

[2020-05-25 12:49] quangctkm9207 commented on #129
I am sorry for my late support. I don't have much time to keep updating this library recently.

[2020-05-29 10:49] rajat10bhatt commented on #83
Hi,
For that you can call this wherever you want to show showcase
if let cell = tableview.visibleCells.first as? <Type of your cell> {
            let showcase = MaterialShowcase()
            materialShowcase.setTargetView(view: cell.<viewname>)
             showcase.backgroundViewType = .circle
            showcase.targetTintColor = UIColor.clear
            showcase.targetHolderColor = UIColor.

[2020-06-16 06:10] geclick commented on #123
Hey,  i wanted to show the showcase on a UIBarButtonItem and i ran into this crash. The reason is here:

if let view = (barButtonItem.value(forKey: "view") as? UIView)?.subviews.first {
      targetView = view
}

view cannot be casted to UIView so this fails and targetView never get initialized

[2020-07-11 06:20] CapnSpellcheck commented on #102
It works if you use `MaterialShowcaseController`:
[code]

Be sure that you are storing a strong reference to the controller.

I am planning on writing a simple `ShowcaseAdapter` that can act as delegate and data source by just receiving static array at init, to function as replacement of the provided MaterialShowcaseSequence.

[2020-07-30 19:57] ultimate-guides commented on #125
I agree!

[2020-08-06 00:36] mrikhstu opened #130 "Delegate method not called"
The delegate `showCaseWillDismiss` doesn't get a callback unless you implement `showCaseDidDismiss`.

Implementing the did is necessary for will to work! Since they both are optional, shouldn't just calling one method work?

[2020-09-01 09:04] kozmotronik opened #132 "Found Nil"
This is the implementation code:

[code]

When it executes I get this error:

It refers to this function in MaterialShowcase.swift file:

[code]

[2020-09-01 09:36] kozmotronik commented on #132
I have been trying the implementation code by changing the `asbe.backgroundViewType = .circle to` `asbe.backgroundViewType = .full`. It works in full mode but crashes in circle mode.

[2020-09-01 12:03] kozmotronik commented on #132
After a little debugging process I have found a bug guys. I don't know if anyone has implemented this version and get the same error. But in my case I added the MaterialShowcase library manually not thorough any library manager like cocoapods. So I detected that when `getDefaultBackgroundRadius()` method is called the instructionView hasn't been initialized. I don't know if it is the bes solution

[2020-09-03 09:34] petrkahanek commented on #118
Hello,

any news to this? Checked #112  and seems that it is not fixed yet. Or would you recommend any workaround?

[2020-09-04 05:33] quangctkm9207 commented on #125
I am so sorry for my late support of Swift Package Manger.
I just took my time today to work on it.
You can try it out now.
https://github.com/aromajoin/material-showcase-ios#swift-package-manger
Thanks!

[2020-09-04 05:33] #125 closed

[2020-09-04 05:58] quangctkm9207 commented on #129
Please use the latest version 0.7.2 and adjust the 'showcase.backgroundRadius' to find the best fit for each case.

[2020-09-04 06:00] quangctkm9207 commented on #132
I am sorry for my late response.
Please update to latest version 0.7.2 which has a hot fix for this.
About the UI, if the text is not in the correct position, please set the "showcase.backgroundRadius".

[2020-09-04 06:00] #132 closed

[2020-09-07 09:28] zeusent commented on #125
Hi @quangctkm9207! Thanks for  this little update. This seems to work fine. But it seems that `0.7.2` doesn't work with Cocoapods anymore. Is that intentional?

[2020-09-07 13:04] mjenj commented on #92
@fadizant @quangctkm9207 Has this been addressed at all?

[2020-09-07 13:10] Zyb3r commented on #92
Also having issues with this, can someone please assist?
![image](https://user-images.githubusercontent.com/24471959/92391003-38a5f500-f11c-11ea-8db9-8f127f772a74.png)

[2020-09-08 01:36] quangctkm9207 commented on #125
I am sorry that the version 0.7.2 still supports CocoaPods.
It just had the issue with the code structure and the git tag due to the changes for support Swift Package Manger.
I have just fixed the issue and published the new pod version.
Can you try again to see if it works?

[2020-09-08 01:37] quangctkm9207 commented on #92
Can you try to adjust  `showcase.backgroundRadius` to see if the situation can be improved?

[2020-09-08 06:22] mjenj commented on #92
Adjusting the size of the background radius did not help me. Going off what @fadizant said I've created a pull request which dynamically calculates the height
https://github.com/aromajoin/material-showcase-ios/pull/133

Please could you take a look @quangctkm9207 ? Thanks

[2020-09-08 06:29] quangctkm9207 commented on #92
Thank you @mjenj.
I am going to check it out.

[2020-09-08 06:45] quangctkm9207 commented on #92
@Zyb3r @mjenj : Have you tried the latest version 0.7.2 that has just been released yesterday?

[2020-09-08 07:16] mjenj commented on #92
I just updated now, and the problem is better but unfortunately still not fixed. The size of the target is definitely a factor, and if I make the target smaller, I can see the text, but not the whole target which isn't ideal

[2020-09-08 07:24] Zyb3r commented on #92
As @mjenj mentioned, we updated and it is slightly better, but the text still extends outside of the view

[2020-09-08 08:05] quangctkm9207 commented on #92
Thanks for confirming.
I have tried @mjenj PR, and I have a comment over there.
It seems that there is no a perfect solution for this issue.

[2020-09-08 08:12] mjenj commented on #92
Thanks, I'll investigate and see if I can find a compromise

[2020-09-08 09:45] mjenj commented on #92
I've added a new comment on the pull request. I agree your solution is working better in most cases, I'm just not sure how to fix it. The 2 factors I believe are the `targetHolderRadius` and whether the button is on the left or right

[2020-09-08 12:32] mjenj commented on #92
We've found a work around for our use case, by setting the target to 0, however if you manage to solve the problem please ping me. Thanks for being responsive :)

[2020-09-09 02:49] quangctkm9207 commented on #92
Thank you @mjenj.

[2020-09-16 11:05] zeusent commented on #132
Version 0.7.2 installed via SPM still has the same bug in it. Is it maybe a problem with the tag pointing to the wrong commit?

[2020-09-25 13:31] Coners opened #134 "MaterialShowcase.seen_tag has disappeared"
hi used this code a while back

let showcase = MaterialShowcase()
showcase.seen_tag = "\(myform).\(table).\(id)"

thing is this was a string and  it would then check for it to see if they had already displayed it

have you removed `seen_tag` and replaed it with anythig I noticed that your `showcase.onclose_callback = bob` was replaced to this (i believe?) `showcase.onClose(call: bob)`

[2020-09-25 14:05] Coners commented on #134
.. I think I may have added this myself.. it's a very useful idea though.. I use it on `showCaseDidDismiss` and then I update `UserDefaults.standard` with it

[2020-10-19 16:48] sakshishrma opened #135 "Does not show correct target according to devices"
It does not work correctly for tableview when we have many items in a row.
It gets misplace for target showcase and place somewhere else.
Does it support for different screen size??
Like it display wrong on different different iPhones and iPads.

[2020-10-28 12:29] fkalai opened #136 "Some customisable properties does not working anymore as expected"
Hello, after I updated the pod on the latest version 0.7.2 it came to my notice that `targetHolderColor = .clear` does not work and also if you set the `targetHolderRadius` greater than 44 (withe the default auto calculate backgroundRadius) the labels primary and secondary are both has a very small width. You can find attached photos
![Simulator Screen Shot - iPhone 11 - 2020-10-28 at 14 26 43](ht

[2020-11-03 06:43] Nec32 opened #137 "Incorrect width primaryText and secondaryText"
<img width="200" alt="iPhone" src="https://user-images.githubusercontent.com/23547660/97955931-3b922e80-1dc9-11eb-8b3e-6904387a7f2e.png"><img width="682" alt="Xcode" src="https://user-images.githubusercontent.com/23547660/97955925-3634e400-1dc9-11eb-9ab4-4150783fdfe5.png">

[2020-11-09 15:18] #137 closed

[2020-11-09 15:19] Nec32 commented on #137
[Duplicate](https://github.com/aromajoin/material-showcase-ios/issues/136)

[2020-11-26 07:56] sathamkhussain opened #138 "Tabar Item not showing when showcase is showing"
![IMG_0154](https://user-images.githubusercontent.com/18525396/100322957-0cd93380-2fd6-11eb-9d0b-6649a4ed826c.PNG)

[2020-12-07 00:01] mohamedlotfyemara opened #139 "button target make constrains issue"
after target constraints be wrong

[2020-12-15 00:42] quangctkm9207 commented on #116
Thanks to a new PR from @kellyhuberty.
I have just released a hot-fix version 0.7.3.
It might help to solve this long-time issue that the text is not placed correctly in the view.
Sorry again that I am not actively working on this project.

[2020-12-15 00:42] #116 closed

[2021-01-03 19:07] royherma commented on #138
Same! Anyone else having these issues?

[2021-01-03 20:09] royherma commented on #136
Any updates?

[2021-01-04 00:51] quangctkm9207 commented on #136
The issue that the labels primary and secondary are both has a very small width could be solved in version 0.7.3.
Please try it out. I am sorry that this project has not been updated much recently.

[2021-01-14 18:58] SmiliPRO opened #141 "'keyWindow' deprecated in iOS 13.0"
Hi!

I'm getting the following alert building my app with Material Showcase version 0.7.3:

'keyWindow' was deprecated in iOS 13.0: Should not be used for applications that support multiple scenes as it returns a key window across all connected scenes

This message is also appearing for scanHexInt32, unarchiveObject(with:) and archivedData(withRootObject:).

Thank for your effort!

[2021-01-22 07:49] Narek1994 opened #142 "If TargetView's frame is scaled, it shows showcase without considering scaled factor"
Hi
Thanks for this library.
Mainly when targetView's frame is scaled while showing showcase, it shows with the main frame without considering scaled options.

[2021-01-27 20:57] pangia opened #143 "Use causes 'MaterialCards+Theming' to not work"
Cannot add 'MaterialCards+Theming' to project. Causes 'previous declaration' errors. Guessing the version of Material Components in this package is not compatible..?

[2021-01-27 21:19] #143 closed

[2021-02-02 07:03] atu09 opened #144 "Blank Showcase"
![IMG_3968](https://user-images.githubusercontent.com/18342485/106563952-97985a80-6552-11eb-8c7c-090072cd990a.PNG)

I'm not able to identify what went wrong that it is causing a blank showcase on a button though showcase is properly working on tableview.

[2021-02-03 06:31] quangctkm9207 commented on #144
Please try to change the text color.
It seems that they now are the same color with the background view.
[code]

[2021-02-06 15:39] ftahery93 commented on #138
I'm facing the same issue. Any luck?

[2021-02-07 23:54] quangctkm9207 commented on #138
Actually, the way to get the TabBar views is a hack that was broken in the recent iOS version.

[code]
Therefore, the TabBar item view can not be displayed.
I am sorry that I have not found the solution yet.

Here is the [original Stack Overflow](https://stackoverflow.com/a/34054914/3415319) answer for these codes.

[2021-03-08 05:18] Shyam-Pgmr opened #146 "Background Mask not working on 0.7.2 and above"
Why is `addBackgroundMask()` commented out after 0.7.1? Is it causing any side effects?
<img width="835" alt="Screenshot 2021-03-22 at 6 04 24 PM" src="https://user-images.githubusercontent.com/8200160/111990261-2ed46400-8b39-11eb-9405-860d03e942ab.png">

[2021-03-23 06:02] #138 closed

[2021-03-23 06:12] Vedas-Labs opened #148 "multiple showcases shown in an sequence"
How to do in material showcase for multiple showcases shown in an sequence ? @shiv19 @hanhdt @vasadulin @rebe1one

[2021-03-23 06:15] #148 closed

[2021-03-23 06:19] dathu7728 opened #149 "multiple showcases shown in an sequence"
How to do in material showcase for multiple showcases shown in an sequence ? @shiv19 @hanhdt @vasadulin @rebe1one

[2021-03-23 06:24] quangctkm9207 commented on #149
Please check the instruction in [README](https://github.com/aromajoin/material-showcase-ios#sequence-items) and sample code.

[2021-03-23 06:28] dathu7728 commented on #149
@quangctkm9207 Got it, thank you!

[2021-03-23 09:01] #149 closed

[2021-03-23 09:21] dathu7728 opened #150 "Showcase view will appear once"
How to do that showcase view only one time appear @quangctkm9207

I used like this but Its not working

let sequence = MaterialShowcaseSequence()
  let showcase2 = MaterialShowcase()
  let showcase3 = MaterialShowcase()
  let showcase1 = MaterialShowcase()
  showcase1.delegate = self
  showcase2.delegate = self
  showcase3.delegate = self
  //Once the key value changes , it will appear once
  sequ

[2021-03-25 00:20] #144 closed

[2021-03-25 00:22] quangctkm9207 commented on #146
Honestly, I lost track.
@Shyam-halodoc helped to add it back in version 0.8.0.
Please check it out.

Thanks.

[2021-03-25 00:22] #146 closed

[2021-03-25 00:26] quangctkm9207 commented on #150
That should work. You might try with a different key than "temp".
However, you can consider saving the state by yourself using UserDefaults, for example.

[2021-03-25 00:26] #150 closed

[2021-03-25 00:28] quangctkm9207 commented on #135
Can you please give more details (screenshots will be the best)?

[2021-03-25 00:28] #136 closed

[2021-03-25 00:32] quangctkm9207 commented on #122
For this issue, please consider adding this library as [Swiff Package](https://github.com/aromajoin/material-showcase-ios#swift-package-manger) instead of Cocoa Pods.

[2021-03-25 00:33] #122 closed

[2021-03-25 00:34] quangctkm9207 commented on #44
Thanks to @Shyam-halodoc, this has been added in version 0.8.0.

[2021-03-25 00:34] #44 closed

[2021-04-28 08:22] HilajParkonic commented on #139
Same for me also. After presenting the showcase view, the button position is changing.

[2021-07-09 01:59] CapnSpellcheck commented on #33
I've also seen this problem when creating a ShowcaseController and calling start() from viewDidAppear. Target is bar button item.

[2021-07-10 13:30] bejgumshirisha opened #152 "Showcase view not dismissing if we push a view controller when it is displaying"
Hi I am using showcase for displaying help text for user first time login.But I am facing few issues in iOS 12 version.
I am presenting a showcase and meanwhile if get a notification I will navigate to another screen.After dismissing from Second Viewcontroller If I tap on screen showcaseview next sequeence is showing.

I am not sure how to kill the showcase view instance completely.

[2021-07-12 18:03] PranavKapadne opened #153 "What if we have collectionview instead of tableview?"

[2021-12-02 14:37] hammad59k opened #154 "Dismiss MaterialShowcaseSequence programmatically"
I have to dismiss MaterialShowcaseSequence programmatically ,but I did not find any way in [provided documentation.](https://github.com/aromajoin/material-showcase-ios). Please help me how to do it.

[2021-12-03 16:57] Spettacolo83 opened #155 "SwiftUI using"
Hello there!
I really like your library and I would like to use it on my SwiftUI app.
Can you expose a method to pass to `setTargetView` a `View` instead of a `UIView`?
I'm trying to achieve it using a UIHostingController in this way:
[code]
But would be very useful if you can expose that method!
Thanks!

[2021-12-06 08:07] Spettacolo83 commented on #155
If someone is interested, I reached that goal in this way:

    ....

    @State private var rect = CGRect.zero

    var body: some View {
        ....
        // Component you want to showcase
        HStack {
            ...
        }
        .overlay(
            Color.clear.modifier(GeometryGetterMod(rect: $rect))
        )
        ...
    }

    func startShowcase(_ rect: CGRect) {
        //

[2021-12-06 08:11] Husseinhj commented on #155
Thanks @Spettacolo83, please update the StackOverflow URL, it is incorrect

[2021-12-06 08:25] Spettacolo83 commented on #155
Done! Thank you @Husseinhj

[2022-04-11 09:03] Murugeshrockey-RN opened #156 "MaterialShowcase.swift line 119 MaterialShowcase.setTargetView(view:)"
**Crashes in crashlytics dashboard with the following error:**

**Crashed**: com.apple.main-thread
EXC_BREAKPOINT 0x00000001006503d4

Crashed: com.apple.main-thread
0  nws                            0xf43d4 MaterialShowcase.setTargetView(view:) + 119 (MaterialShowcase.swift:119)
1  nws                            0xf4410 @objc MaterialShowcase.setTargetView(view:) + 327180 (<compiler-generated>:327

[2022-08-01 06:17] imSarfaroz commented on #118
Any updates?

[2022-08-01 11:47] Husseinhj commented on #118
@imSarfaroz

Created #158 pull request to support `TabBarViewController`.

[2022-09-02 09:19] MuhammadAarfeen commented on #155
@Spettacolo83  hey can you please tell where to call startShowcase(rect) func in swiftUI code?

[2022-09-02 09:28] Spettacolo83 commented on #155
Hey @MuhammadAarfeen, you can call it .onAppear function for example:

[code]

[2022-09-02 09:31] MuhammadAarfeen commented on #155
@Spettacolo83 Ok great! thank you!

[2022-10-01 10:41] IshuRocks opened #159 "Text width issue"
When use showcase bottom left Text width not proper set.

![IMG_D79A69F416DB-1](https://user-images.githubusercontent.com/16163631/193405670-ee9e37fb-90da-45d5-b2a7-7fd62b304f3f.jpeg)

[2022-10-11 08:01] petrkahanek commented on #118
Hey there,
did not updated the code base so can’t really tell. Not sure if will
update any time soon as I went with different solution which is
sufficient for now.

S pozdravem / Best Regards
Petr Kahánek

On August 1, 2022, "dependabot[bot]" ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub
<https://github.com/aromajoin/material-showcase-
ios/issues/118#issuecomment-120075970